# Misson 3

## 기능요구사항
- IMF에서 제공하는 국가별 GDP를 구하세요.

- 국가별 GDP를 확인할 수 있는 테이블을 만드세요.

- 해당 테이블에는 GDP가 **높은 국가들이 먼저** 나와야 합니다.

- GDP의 단위는 1B USD이어야 하고 **소수점 2자리**까지만 표시해 주세요.

- IMF에서 매년 2회 이 자료를 제공하기 때문에 정보가 갱신되더라도 **해당 코드를 재사용**해서 정보를 얻을 수 있어야 합니다.

## 프로그래밍 요구 사항
- **주석**을 사용해서 설명을 추가하고 
  
- 함수를 만들어서 가독성과 재사용성을 높이세요.
  
- 추출 한 정보는 '**Countries_by_GDP.json**'라는 이름의 JSON 화일 포맷으로 저장해야 합니다.
  
- 필요한 모든 작업을 수행하는 '**etl_project_gdp.py**' 코드를 작성하세요.

## 화면 출력
- **GDP가 100B USD이상**이 되는 국가만을 구해서 화면에 출력해야 합니다.

- 각 **Region별로 top5** 국가의 **GDP 평균**을 구해서 화면에 출력해야 합니다.

## ETL 프로세스
- **ETL 프로세스**에 따라 코드를 작성하고 각 단계의 **시작과 끝을 로그**에 기록하세요.
- 

- 이 모든 처리 과정은 'etl_project_log.txt'라는 로그 화일에 기록되어야 합니다. (로그 화일은 매번 다시 생성하는 것이 아니라 **기존 화일에 append**되어야 합니다.)

- log는 "**time, log**" 형식으로 기록하세요. 시간은 'Year-Monthname-Day-Hour-Minute-Second' 포맷에 맞게 표시하세요.

In [1]:
import requests
from bs4 import BeautifulSoup# 크롤링
import pandas as pd # 데이터 처리
import json # to json file
import datetime # logging
import sqlite3 # DB
import re
import time, datetime

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'

In [3]:
response = requests.get(url)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
else:
    print(response.status_code)

In [4]:
type(html)

str

In [5]:
''' 
Table Head Structure:
        | IMF               | WB                | UN                | 
Country |Forecast   | Year  |Forecast   | Year  |Forecast   | Year  |
        | :TODO     | :TODO |
----------------------------------------------------------------------       
Table Row Structure:
td      | td        | td    | td        | td    | td        | td    |
'''

' \nTable Head Structure:\n        | IMF               | WB                | UN                | \nCountry |Forecast   | Year  |Forecast   | Year  |Forecast   | Year  |\n        | :TODO     | :TODO |\n----------------------------------------------------------------------       \nTable Row Structure:\ntd      | td        | td    | td        | td    | td        | td    |\n'

In [34]:
df = pd.read_html(url, attrs={"class": "wikitable"})[0]

# 첫 번째 테이블을 가져옵니다 (여러 테이블이 있을 수 있으므로 인덱스로 선택)
# df = tables
# print(df)
print(type(df))
# df = pd.DataFrame(df)
print(df)
# MultiIndex 생성
columns = [
    ["Country"] + ["IMF"] * 2 + ["WB"] * 2 + ["UN"] * 2,
    [""] + ["Forecast", "Year"] * 3  # 하위 컬럼: Forecast와 Year 반복
]

# MultiIndex로 설정
df.columns = pd.MultiIndex.from_arrays(columns)

# 결과 확인
df.iloc[-24]

<class 'pandas.core.frame.DataFrame'>
    Country/Territory IMF[1][13]            World Bank[14]             \
    Country/Territory   Forecast       Year       Estimate       Year
0               World  115494312       2025      105435540       2023
1       United States   30337162       2025       27360935       2023
2               China   19534894  [n 1]2025       17794782  [n 3]2023
3             Germany    4921563       2025        4456081       2023
4               Japan    4389326       2025        4212945       2023
..                ...        ...        ...            ...        ...
205          Kiribati        311       2024            279       2023
206             Palau        308       2024            263       2023
207  Marshall Islands        305       2024            284       2023
208             Nauru        161       2024            154       2023
209            Tuvalu         66       2024             62       2023

    United Nations[15]
              Estimate       Year
0            100834796       2022
1             25744100       2022
2             17963170  [n 1]2022
3              4076923       2022
4              4232173       2022
..                 ...        ...
205                223       2022
206                225       2022
207                279       2022
208                147       2022
209                 59       2022

[210 rows x 7 columns]

Country              Zanzibar
IMF      Forecast           —
         Year               —
WB       Forecast           —
         Year               —
UN       Forecast        2361
         Year            2022
Name: 186, dtype: object

In [49]:
import os
current_dir = os.path.dirname(os.getcwd())
print(current_dir)
raw_json = 'Countries_by_GDP.json'
with open(raw_json, "r") as raw_Data:
    json_raw = json.load(raw_Data)

/Users/admin/Documents/GitHub/Softeer-Bootcamp/missions

In [59]:
og_json = pd.read_json(raw_json)
columns = [
    ["Country"] + ["IMF"] * 2 + ["WB"] * 2 + ["UN"] * 2,
    [""] + ["Forecast", "Year"] * 3  # 하위 컬럼: Forecast와 Year 반복
]
og_json.columns = pd.MultiIndex.from_arrays(columns)
og_json['Country']
og_json = og_json[['Country', 'IMF']]
og_json['IMF', 'Forecast']

0      115494312
1       30337162
2       19534894
3        4921563
4        4389326
         ...
205          311
206          308
207          305
208          161
209           66
Name: (IMF, Forecast), Length: 210, dtype: object

In [73]:
table = soup.select('table.wikitable > tbody > tr:nth-child(n+4)')#.wikitable sortable sticky-header-multi static-row-numbers jquery-tablesorter')
# tr, td 등의 tag가 변수 취급이 가능하구나
gdp_rows = [[td.get_text(strip=True) for td in tr.find_all('td')] for tr in table]

print(gdp_rows)

[['United States', '30,337,162', '2025', '27,360,935', '2023', '25,744,100', '2022'], ['China', '19,534,894', '[n 1]2025', '17,794,782', '[n 3]2023', '17,963,170', '[n 1]2022'], ['Germany', '4,921,563', '2025', '4,456,081', '2023', '4,076,923', '2022'], ['Japan', '4,389,326', '2025', '4,212,945', '2023', '4,232,173', '2022'], ['India', '4,271,922', '2025', '3,549,919', '2023', '3,465,541', '2022'], ['United Kingdom', '3,730,261', '2025', '3,340,032', '2023', '3,089,072', '2022'], ['France', '3,283,429', '2025', '3,030,904', '2023', '2,775,316', '2022'], ['Italy', '2,459,597', '2025', '2,254,851', '2023', '2,046,952', '2022'], ['Canada', '2,330,308', '2025', '2,140,086', '2023', '2,137,939', '2022'], ['Brazil', '2,307,162', '2025', '2,173,666', '2023', '1,920,095', '2022'], ['Russia', '2,195,708', '2025', '2,021,421', '2023', '2,240,422', '2022'], ['South Korea', '1,947,133', '2025', '1,712,793', '2023', '1,673,916', '2022'], ['Australia', '1,881,140', '2025', '1,723,827', '2023', '1,776,577', '2022'], ['Spain', '1,827,576', '2025', '1,580,695', '2023', '1,415,874', '2022'], ['Mexico', '1,817,818', '2025', '1,788,887', '2023', '1,463,323', '2022'], ['Indonesia', '1,492,618', '2025', '1,371,171', '2023', '1,319,100', '2022'], ['Turkey', '1,455,413', '2025', '1,108,022', '2023', '907,118', '2022'], ['Netherlands', '1,272,960', '2025', '1,118,125', '2023', '1,008,027', '2022'], ['Saudi Arabia', '1,136,580', '2025', '1,067,583', '2023', '1,108,148', '2022'], ['Switzerland', '999,604', '2025', '884,940', '2023', '818,426', '2022'], ['Poland', '915,451', '2025', '811,229', '2023', '688,125', '2022'], ['Taiwan', '814,438', '[n 4]2025', '—', '—'], ['Belgium', '689,364', '2025', '632,217', '2023', '582,643', '2022'], ['Sweden', '638,780', '2025', '593,268', '2023', '591,188', '2022'], ['Ireland', '587,225', '2025', '545,629', '2023', '532,415', '2022'], ['Argentina', '574,201', '2025', '640,591', '2023', '631,133', '2022'], ['United Arab Emirates', '568,567', '2025', '504,173', '2023', '507,063', '2022'], ['Singapore', '561,725', '2025', '501,428', '2023', '466,788', '2022'], ['Austria', '559,218', '2025', '516,034', '2023', '470,302', '2022'], ['Israel', '550,905', '2025', '509,902', '2023', '525,002', '2022'], ['Thailand', '545,341', '2025', '514,945', '2023', '495,340', '2022'], ['Norway', '503,466', '2025', '485,513', '2023', '579,422', '2022'], ['Malaysia', '488,250', '2025', '399,649', '2023', '406,305', '2022'], ['Philippines', '471,516', '2025', '437,146', '2023', '404,284', '2022'], ['Vietnam', '468,400', '2025', '429,717', '2023', '408,802', '2022'], ['Iran', '463,747', '2025', '401,505', '2023', '398,047', '2022'], ['Bangladesh', '451,856', '2025', '437,415', '2023', '432,677', '2022'], ['Denmark', '431,228', '2025', '404,199', '2023', '400,167', '2022'], ['Hong Kong', '422,057', '[n 5]2025', '382,055', '2023', '359,838', '2022'], ['Colombia', '419,331', '2025', '363,540', '2023', '343,939', '2022'], ['South Africa', '418,046', '2025', '377,782', '2023', '405,270', '2022'], ['Romania', '406,202', '2025', '351,003', '2023', '300,690', '2022'], ['Egypt', '380,044', '2025', '395,926', '2023', '409,306', '2022'], ['Pakistan', '374,595', '2024', '338,368', '2023', '326,796', '2022'], ['Chile', '362,240', '2025', '335,533', '2023', '300,686', '2022'], ['Czech Republic', '360,233', '2025', '330,858', '2023', '290,527', '2022'], ['Finland', '319,989', '2025', '300,187', '2023', '282,511', '2022'], ['Portugal', '319,934', '2025', '287,080', '2023', '254,849', '2022'], ['Kazakhstan', '306,629', '2025', '261,421', '2023', '225,496', '2022'], ['Peru', '294,898', '2025', '267,603', '2023', '242,631', '2022'], ['Iraq', '270,874', '2025', '250,843', '2023', '264,182', '2022'], ['Greece', '265,171', '2025', '238,206', '2023', '217,285', '2022'], ['Algeria', '264,270', '2025', '239,899', '2023', '191,912', '2022'], ['New Zealand', '262,924', '2025', '253,466', '2023', '245,845', '2022'], ['Hungary', '245,619', '2025', '212,389', '2023', '177,337', '2022'], ['Qatar', '226,217', '2025', '235,770', '2022', '237,101', '2022'], ['Nigeria', '194,955', '2025', '362,815', '2023', '475,058', '2022'], ['Ukraine', '189,827', '[n 6]2025', '178,757', '[n 6]2023', '160,502', '[n 6]2022'], ['Morocco', '168,597', '2025', '141,109', '2023', '130,912', '2022'], ['Kuwait', '161,950', '2025', '161,772', '2023', '175,363', '2022'], ['Cuba', '—', '—', '147,193', '2022'], ['Ethiopia', '145,031', '2024', '163,698', '2023', '118,971', '2022'], ['Slovakia', '142,617', '2024', '132,794', '2023', '115,304', '2022'], ['Dominican Republic', '126,238', '2024', '121,444', '2023', '113,537', '2022'], ['Ecuador', '121,425', '2024', '118,845', '2023', '115,049', '2022'], ['Puerto Rico', '120,971', '2024', '117,902', '2023', '113,434', '2022'], ['Kenya', '116,321', '2024', '107,441', '2023', '113,419', '2022'], ['Angola', '113,286', '2024', '84,773', '2023', '113,304', '2022'], ['Uzbekistan', '112,653', '2024', '90,889', '2023', '80,391', '2022'], ['Guatemala', '112,369', '2024', '102,050', '2023', '95,003', '2022'], ['Oman', '109,993', '2024', '108,192', '2023', '114,666', '2022'], ['Bulgaria', '108,425', '2024', '101,584', '2023', '90,213', '2022'], ['Venezuela', '106,327', '2024', '—', '129,313', '2022'], ['Costa Rica', '95,149', '2024', '86,498', '2023', '68,380', '2022'], ['Luxembourg', '91,210', '2024', '85,755', '2023', '81,530', '2022'], ['Croatia', '89,665', '2024', '82,689', '2023', '71,552', '2022'], ['Panama', '87,347', '2024', '83,382', '2023', '76,522', '2022'], ['Ivory Coast', '86,993', '2024', '78,789', '2023', '70,018', '2022'], ['Sri Lanka', '74,846', '2022', '84,357', '2023', '76,187', '2022'], ['Turkmenistan', '83,883', '2024', '59,887', '2023', '67,009', '2022'], ['Lithuania', '82,789', '2024', '77,836', '2023', '70,878', '2022'], ['Uruguay', '82,605', '2024', '77,241', '2023', '71,171', '2022'], ['Serbia', '82,550', '2024', '75,187', '2023', '63,563', '2022'], ['Tanzania', '79,867', '2024', '79,158', '2023', '73,535', '[n 7]2022'], ['Azerbaijan', '75,649', '2024', '72,356', '2023', '78,721', '2022'], ['Ghana', '75,307', '2024', '76,370', '2023', '73,766', '2022'], ['Slovenia', '73,198', '2024', '68,217', '2023', '59,981', '2022'], ['Belarus', '73,129', '2024', '71,857', '2023', '72,873', '2022'], ['DR Congo', '72,483', '2024', '66,383', '2023', '62,551', '2022'], ['Myanmar', '64,284', '2024', '64,815', '2023', '65,211', '2022'], ['Uganda', '55,587', '2024', '49,273', '2023', '48,243', '2022'], ['Macau', '53,447', '[n 8]2024', '47,062', '2023', '24,042', '2022'], ['Cameroon', '53,391', '2024', '47,946', '2023', '44,341', '2022'], ['Jordan', '53,305', '2024', '50,814', '2023', '47,452', '2022'], ['Tunisia', '52,636', '2024', '48,530', '2023', '46,181', '2022'], ['Bolivia', '48,172', '2024', '45,850', '2023', '44,008', '2022'], ['Bahrain', '47,812', '2024', '43,205', '2023', '44,382', '2022'], ['Cambodia', '47,147', '2024', '31,773', '2023', '29,504', '2022'], ['Latvia', '45,521', '2024', '43,627', '2023', '40,876', '2022'], ['Paraguay', '44,937', '2024', '42,956', '2023', '41,722', '2022'], ['Libya', '44,812', '2024', '50,492', '2023', '40,537', '2022'], ['Nepal', '43,673', '2024', '40,908', '2023', '39,406', '2022'], ['Estonia', '43,044', '2024', '40,745', '2023', '38,049', '2022'], ['Honduras', '36,735', '2024', '34,401', '2023', '31,717', '2022'], ['Zimbabwe', '35,919', '2024', '26,538', '2023', '26,418', '2022'], ['El Salvador', '35,848', '2024', '34,016', '2023', '32,488', '2022'], ['Cyprus', '34,790', '[n 9]2024', '32,230', '[n 9]2023', '29,210', '[n 9]2022'], ['Senegal', '33,685', '2024', '31,014', '2023', '27,775', '2022'], ['Georgia', '33,191', '[n 10]2024', '30,536', '[n 10]2023', '24,605', '[n 10]2022'], ['Iceland', '32,919', '2024', '31,020', '2023', '28,064', '2022'], ['Papua New Guinea', '31,716', '2024', '30,933', '2022', '31,609', '2022'], ['Zambia', '29,872', '2024', '28,163', '2023', '29,136', '2022'], ['Bosnia and Herzegovina', '29,078', '2024', '27,055', '2023', '24,473', '2022'], ['Trinidad and Tobago', '28,365', '2024', '28,140', '2023', '30,053', '2022'], ['Sudan', '26,865', '2024', '109,327', '2023', '36,729', '2022'], ['Guinea', '25,447', '2024', '23,612', '2023', '20,846', '2022'], ['Albania', '25,431', '2024', '22,978', '2023', '18,916', '2022'], ['Armenia', '25,408', '2024', '24,212', '2023', '19,513', '2022'], ['Haiti', '24,046', '2024', '19,851', '2023', '18,751', '2022'], ['Mozambique', '22,975', '2024', '20,625', '2023', '18,406', '2022'], ['Malta', '22,737', '2024', '20,957', '2023', '18,100', '2022'], ['Mongolia', '21,943', '2024', '19,872', '2023', '17,146', '2022'], ['Burkina Faso', '21,902', '2024', '20,325', '2023', '19,176', '2022'], ['Mali', '21,662', '2024', '20,905', '2023', '18,827', '2022'], ['Botswana', '21,418', '2024', '19,396', '2023', '20,352', '2022'], ['Benin', '21,371', '2024', '19,673', '2023', '17,396', '2022'], ['Guyana', '21,178', '2024', '16,786', '2023', '14,718', '2022'], ['Gabon', '21,013', '2024', '20,516', '2023', '20,132', '2022'], ['Jamaica', '20,098', '2024', '19,423', '2023', '17,097', '2022'], ['Nicaragua', '18,829', '2024', '17,829', '2023', '15,671', '2022'], ['Niger', '18,816', '2024', '16,819', '2023', '15,414', '2022'], ['Chad', '18,697', '2024', '13,149', '2023', '16,799', '2022'], ['Palestine', '18,602', '[n 11]2023', '17,396', '[n 11]2023', '19,111', '[n 12]2022'], ['Syria', '—', '8,980', '2021', '18,595', '2022'], ['Moldova', '18,356', '[n 13]2024', '16,539', '[n 13]2023', '14,510', '[n 13]2022'], ['Lebanon', '21,780', '2022', '17,937', '2023', '39,303', '2022'], ['Yemen', '16,940', '2024', '—', '11,007', '2022'], ['Madagascar', '16,465', '2024', '16,032', '2023', '14,954', '2022'], ['Mauritius', '16,359', '2024', '14,397', '2023', '12,898', '2022'], ['North Macedonia', '15,873', '2024', '14,761', '2023', '13,711', '2022'], ['Kyrgyzstan', '15,770', '2024', '13,782', '2023', '12,560', '2022'], ['Brunei', '15,510', '2024', '15,128', '2023', '16,681', '2022'], ['Congo', '15,501', '2024', '15,321', '2023', '15,344', '2022'], ['Laos', '15,190', '2024', '15,843', '2023', '15,362', '2022'], ['North Korea', '—', '—', '15,176', '2022'], ['Afghanistan', '14,467', '2022', '14,502', '2022', '14,174', '2022'], ['Bahamas', '14,390', '2024', '14,339', '2023', '12,897', '2022'], ['Rwanda', '13,701', '2024', '14,098', '2023', '13,312', '2022'], ['Tajikistan', '13,000', '2024', '12,061', '2023', '10,492', '2022'], ['Somalia', '12,804', '2024', '11,680', '2023', '10,420', '2022'], ['Namibia', '12,765', '2024', '12,351', '2023', '12,607', '2022'], ['Kosovo', '11,318', '2024', '10,438', '2023', '9,397', '2022'], ['Malawi', '11,241', '2024', '14,084', '2023', '12,558', '2022'], ['Equatorial Guinea', '10,708', '2024', '12,117', '2023', '11,767', '2022'], ['Mauritania', '10,628', '2024', '10,453', '2023', '10,997', '2022'], ['Togo', '9,832', '2024', '9,171', '2023', '8,087', '2022'], ['New Caledonia', '—', '9,623', '2022', '9,623', '2022'], ['Monaco', '—', '8,784', '2022', '8,772', '2022'], ['Montenegro', '8,010', '2024', '7,405', '2023', '6,229', '2022'], ['Bermuda', '—', '7,828', '2022', '7,546', '2022'], ['Liechtenstein', '—', '7,365', '2022', '7,757', '2022'], ['Maldives', '7,199', '2024', '6,600', '2023', '6,170', '2022'], ['Barbados', '6,863', '2024', '6,394', '2023', '5,699', '2022'], ['Cayman Islands', '—', '6,601', '2022', '6,281', '2022'], ['South Sudan', '6,517', '2024', '—', '4,616', '2022'], ['French Polynesia', '—', '5,815', '2022', '5,814', '2022'], ['Fiji', '5,801', '2024', '5,495', '2023', '4,979', '2022'], ['Eswatini', '5,085', '2024', '4,598', '2023', '4,326', '2022'], ['Liberia', '4,754', '2024', '4,332', '2023', '3,265', '2022'], ['Sierra Leone', '4,558', '2024', '3,810', '2023', '3,481', '2022'], ['Djibouti', '4,364', '2024', '4,099', '2023', '4,003', '2022'], ['Suriname', '4,337', '2024', '3,782', '2023', '3,620', '2022'], ['Aruba', '4,069', '2024', '3,545', '2022', '3,544', '2022'], ['Andorra', '3,897', '2024', '3,728', '2023', '3,376', '2022'], ['Belize', '3,296', '2024', '3,282', '2023', '2,830', '2022'], ['Bhutan', '3,110', '2024', '2,898', '2022', '2,898', '2022'], ['Burundi', '3,075', '2024', '2,642', '2023', '4,032', '2022'], ['Curaçao', '—', '3,074', '2022', '3,075', '2022'], ['Greenland', '—', '3,236', '2021', '2,926', '2022'], ['Central African Republic', '2,810', '2024', '2,555', '2023', '2,395', '2022'], ['Cape Verde', '2,718', '2024', '2,587', '2023', '2,314', '2022'], ['Gambia', '2,694', '2024', '2,340', '2023', '2,231', '2022'], ['Saint Lucia', '2,582', '2024', '2,520', '2023', '2,165', '2022'], ['Lesotho', '2,395', '2024', '2,046', '2023', '2,287', '2022'], ['Eritrea', '—', '—', '2,383', '2022'], ['Zanzibar', '—', '—', '2,361', '2022'], ['Seychelles', '2,203', '2024', '2,141', '2023', '1,994', '2022'], ['Guinea-Bissau', '2,151', '2024', '1,966', '2023', '1,574', '2022'], ['Antigua and Barbuda', '2,127', '2024', '2,033', '2023', '1,770', '2022'], ['San Marino', '2,033', '2024', '1,855', '2021', '1,780', '2022'], ['East Timor', '1,992', '2024', '2,243', '2023', '3,204', '2022'], ['Solomon Islands', '1,707', '2024', '1,631', '2023', '1,597', '2022'], ['Sint Maarten', '—', '1,623', '2023', '1,572', '2022'], ['Comoros', '1,422', '2024', '1,352', '2023', '1,246', '2022'], ['Grenada', '1,406', '2024', '1,320', '2023', '1,192', '2022'], ['Turks and Caicos Islands', '—', '1,402', '2023', '1,138', '2022'], ['Vanuatu', '1,289', '2024', '1,126', '2023', '985', '2022'], ['Saint Kitts and Nevis', '1,134', '2024', '1,077', '2023', '979', '2022'], ['Saint Vincent and the Grenadines', '1,128', '2024', '1,066', '2023', '946', '2022'], ['Samoa', '1,024', '2024', '934', '2023', '857', '2022'], ['São Tomé and Príncipe', '751', '2024', '603', '2023', '546', '2022'], ['Dominica', '708', '2024', '654', '2023', '612', '2022'], ['Tonga', '581', '2024', '500', '2022', '488', '2022'], ['Micronesia', '484', '2024', '460', '2023', '427', '2022'], ['Kiribati', '311', '2024', '279', '2023', '223', '2022'], ['Palau', '308', '2024', '263', '2023', '225', '2022'], ['Marshall Islands', '305', '2024', '284', '2023', '279', '2022'], ['Nauru', '161', '2024', '154', '2023', '147', '2022'], ['Tuvalu', '66', '2024', '62', '2023', '59', '2022']]

In [74]:
re.sub(r',', '', '10,000')

'10000'

In [ ]:
country = []
gdp = []
year = []
no_juseok = lambda s: re.sub(r'\[.*?\]', '', s)
str_to_num = lambda s: int(re.sub(r',', '', s))

for row in gdp_rows:
    print(row)
    country.append(no_juseok(row[0]))
    
    if row[1] == '—': gdp.append(-1)
    else: gdp.append(str_to_num(no_juseok(row[1])))
    
    if row[2] == '—': year.append(-1)
    else: year.append(no_juseok(row[2]))

In [98]:
print(len(country), len(gdp), len(year)) # checked!

209 209 209

In [ ]:
gdp = [round(i / 1000, 2) for i in gdp]
GDP_Table = pd.DataFrame({'Country': country, 'GDP': gdp, 'Year': year}).sort_values('GDP', ascending=False, inplace=True)

In [103]:
GDP_Table = GDP_Table[GDP_Table['GDP'] >= 100]

## Prototype

In [103]:
import requests
from bs4 import BeautifulSoup# 크롤링
import pandas as pd # 데이터 처리
import json # to json file
import datetime # logging
import sqlite3 # DB
import re
import time, datetime
import logging
from functools import wraps

class Extract:
    WIKI_URL = ''
    IMF_URL = ''
    
    def __init__(self):
        self.WIKI_URL = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'
        self.IMF_URL = 'https://www.imf.org/external/datamapper/api/v1/NGDPD'
    
    def url_validation_check(self, url:str):
        '''
        URL 유효성 검증
        Param: url: str
        return: html text
        '''
        response = requests.get(url)

        if response.status_code == 200:
            return response.text
        else:
            print(response.status_code)  
            return False      
    
    def collect_data(self, html: str):
        '''
        원본 데이터 수집
        Param: html: str
        return: gdp_rows: List 
        # 국가별 자료입니다. 형식: [[국가명, GDP, 연도, GDP, 연도, GDP, 연도] ... ] 
        '''
        soup = BeautifulSoup(html, 'html.parser')
        table = soup.select('table.wikitable > tbody > tr:nth-child(n+4)')#.wikitable sortable sticky-header-multi static-row-numbers jquery-tablesorter')
        # tr, td 등의 tag가 변수 취급이 가능하구나
        gdp_rows = [[td.get_text(strip=True) for td in tr.find_all('td')] for tr in table]

        return gdp_rows

    def save_json(self, raws:list):
        '''
        데이터프레임을 JSON 형식으로 저장합니다.
        '''
        raw_json = {'country' : [], 
                    'forecast' : [], 
                    'year' : []
                    }
        for line in raws:
            raw_json['country'].append(line[0])
            
            if line[1] == '—':
                raw_json['forecast'].append('-')
                raw_json['year'].append('-')
            else:
                raw_json['forecast'].append(line[1])
                raw_json['year'].append(line[2])
                
        # try:
        filename = 'Countries_by_GDP.json'
        with open(filename, 'w') as f : 
            json.dump(raw_json, f, indent=4, ensure_ascii=False)
                     
        # except Exception as e:
        #     print(f"Error processing {filename}: {e}")

class Transform:
    raw_data = []
    def __init__(self, raw_data:list):
        '''
        데이터를 가공하기 위해 원본 데이터를 가져옵니다.
        '''
        self.raw_data = raw_data
    
    def refine_data(self):
        '''
        데이터를 정제합니다.
        링크를 지우고 문자열로 된 숫자를 정수로 변환합니다.
        '-'로 표기된 데이터는 -1 을 기입합니다.
        
        return: country: List, gdp: List, year: List
        '''
        country = []
        gdp = []
        # year = []
        
        no_juseok = lambda s: re.sub(r'\[.*?\]', '', s)
        str_to_num = lambda s: int(re.sub(r',', '', s))
        
        for i, row in enumerate(self.raw_data):

            if len(row) < 2: 
                print(f"Data Error in line {i}")
                
            country.append(no_juseok(row[0]))
            
            if row[1] == '—': 
                gdp.append(-1)
            else: 
                gdp.append(str_to_num(no_juseok(row[1])))
        
        return country, gdp
        
    def make_DataFrame(self, country:list, gdp:list):
        '''
        가공된 데이터로 데이터프레임을 생성합니다.
        GDP에 대해 내림차순 정렬되어 있고 GDP가 $100B 이상인 국가만 포함됩니다.

        Param: country: List, gdp: List, year: List
        return: GDP_data: pd.DataFrame
        '''
        GDP_data = pd.DataFrame({'Country': country, 'GDP_USD_Bilion': gdp})
        GDP_data.sort_values('GDP_USD_Bilion', ascending=False, inplace=True)
           
        GDP_data['GDP_USD_Bilion'] = GDP_data['GDP_USD_Bilion'].apply(lambda x: round(x / 1000, 2))
        
        
        return GDP_data[GDP_data['GDP_USD_Bilion'] >= 100]
    
class Load:
    frame = None
    def __init__(self, frame:pd.DataFrame):
        '''
        데이터프레임을 저장하기 위해 불러옵니다.
        '''
        self.frame = frame
    
            
    def save_db(self,):
        '''
        데이터프레임을 DB에 저장합니다.
        '''
        try:
            with sqlite3.connect('World_Economies.db') as conn:
                print(f"Opened SQLite database with version {sqlite3.sqlite_version} successfully.")

        except sqlite3.OperationalError as e:
            print("Failed to open database:", e)
            
        self.frame.to_sql('Countries_by_GDP', conn)
        
def visualize():
    # show top 5 countries of each Region
    REGION = {
        'Africa':[],
        'North Africa':[],
        'Sub-Saharan Africa':[],
        'Asia and Pacific':[],
        'Australia and New Zealand':[],
        'Central Asia and the Caucasus':[],
        'East Asia':[],
        'Pacific Islands':[],
        'South Asia':[],
        'Southeast Asia':[],
        'Europe':[],
        'Eastern Europe':[],
        'Western Europe':[],
        'Middle East':[],
        'Western Hemisphere':[],
        'Caribbean':[],
        'Central America':[],
        'North America':[],
        'South America':[]
    }

logger = logging.getLogger()
if not logger.handlers:
    # 사용자 정의 Formatter
    formatter = logging.Formatter(
        fmt='%(asctime)s, %(message)s',
        datefmt='%Y-%B-%d-%H-%M-%S'  # 원하는 날짜 포맷
    )

    # 핸들러 생성 및 설정
    handler = logging.FileHandler('etl_project_log.txt')
    handler.setFormatter(formatter)

    # 로거 설정
    logger.setLevel(logging.INFO)
    logger.addHandler(handler)

# 테스트 로그 메시지
logger.info("This is a test log message.")

def logging_time(func):
    '''
    @logging_time을 로깅하고 싶은 함수 윗줄에 작성한다.
    '''    
    @wraps(func)
    def wrapper(*args, **kwargs):
        # start_time = datetime.datetime.now()
        # formatted_start = start_time.strftime("%Y-%B-%d-%H-%M-%S")

        logging.info(f"Started '{func.__name__}'")
        
        result = func(*args, **kwargs)
        
        # end_time = datetime.datetime.now()
        # formatted_end = end_time.strftime("%Y-%B-%d-%H-%M-%S")

        logging.info(f"Finished '{func.__name__}'")
        # logging.info(f"Execution time for '{func.__name__}': {end_time - start_time}")
        return result
    return wrapper

## Test Code

In [104]:
e = Extract()
print(e.WIKI_URL)
if html := e.url_validation_check(e.WIKI_URL):
    raws = e.collect_data(html)
t = Transform(raws)
table = t.make_DataFrame(*t.refine_data())
table

https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29

          Country  GDP_USD_Bilion
0   United States        30337.16
1           China        19534.89
2         Germany         4921.56
3           Japan         4389.33
4           India         4271.92
..            ...             ...
68     Uzbekistan          112.65
69      Guatemala          112.37
70           Oman          109.99
71       Bulgaria          108.42
72      Venezuela          106.33

[72 rows x 2 columns]

In [105]:
raws

[['United States',
  '30,337,162',
  '2025',
  '27,360,935',
  '2023',
  '25,744,100',
  '2022'],
 ['China',
  '19,534,894',
  '[n 1]2025',
  '17,794,782',
  '[n 3]2023',
  '17,963,170',
  '[n 1]2022'],
 ['Germany', '4,921,563', '2025', '4,456,081', '2023', '4,076,923', '2022'],
 ['Japan', '4,389,326', '2025', '4,212,945', '2023', '4,232,173', '2022'],
 ['India', '4,271,922', '2025', '3,549,919', '2023', '3,465,541', '2022'],
 ['United Kingdom',
  '3,730,261',
  '2025',
  '3,340,032',
  '2023',
  '3,089,072',
  '2022'],
 ['France', '3,283,429', '2025', '3,030,904', '2023', '2,775,316', '2022'],
 ['Italy', '2,459,597', '2025', '2,254,851', '2023', '2,046,952', '2022'],
 ['Canada', '2,330,308', '2025', '2,140,086', '2023', '2,137,939', '2022'],
 ['Brazil', '2,307,162', '2025', '2,173,666', '2023', '1,920,095', '2022'],
 ['Russia', '2,195,708', '2025', '2,021,421', '2023', '2,240,422', '2022'],
 ['South Korea',
  '1,947,133',
  '2025',
  '1,712,793',
  '2023',
  '1,673,916',
  '2022'],
 ['Australia', '1,881,140', '2025', '1,723,827', '2023', '1,776,577', '2022'],
 ['Spain', '1,827,576', '2025', '1,580,695', '2023', '1,415,874', '2022'],
 ['Mexico', '1,817,818', '2025', '1,788,887', '2023', '1,463,323', '2022'],
 ['Indonesia', '1,492,618', '2025', '1,371,171', '2023', '1,319,100', '2022'],
 ['Turkey', '1,455,413', '2025', '1,108,022', '2023', '907,118', '2022'],
 ['Netherlands',
  '1,272,960',
  '2025',
  '1,118,125',
  '2023',
  '1,008,027',
  '2022'],
 ['Saudi Arabia',
  '1,136,580',
  '2025',
  '1,067,583',
  '2023',
  '1,108,148',
  '2022'],
 ['Switzerland', '999,604', '2025', '884,940', '2023', '818,426', '2022'],
 ['Poland', '915,451', '2025', '811,229', '2023', '688,125', '2022'],
 ['Taiwan', '814,438', '[n 4]2025', '—', '—'],
 ['Belgium', '689,364', '2025', '632,217', '2023', '582,643', '2022'],
 ['Sweden', '638,780', '2025', '593,268', '2023', '591,188', '2022'],
 ['Ireland', '587,225', '2025', '545,629', '2023', '532,415', '2022'],
 ['Argentina', '574,201', '2025', '640,591', '2023', '631,133', '2022'],
 ['United Arab Emirates',
  '568,567',
  '2025',
  '504,173',
  '2023',
  '507,063',
  '2022'],
 ['Singapore', '561,725', '2025', '501,428', '2023', '466,788', '2022'],
 ['Austria', '559,218', '2025', '516,034', '2023', '470,302', '2022'],
 ['Israel', '550,905', '2025', '509,902', '2023', '525,002', '2022'],
 ['Thailand', '545,341', '2025', '514,945', '2023', '495,340', '2022'],
 ['Norway', '503,466', '2025', '485,513', '2023', '579,422', '2022'],
 ['Malaysia', '488,250', '2025', '399,649', '2023', '406,305', '2022'],
 ['Philippines', '471,516', '2025', '437,146', '2023', '404,284', '2022'],
 ['Vietnam', '468,400', '2025', '429,717', '2023', '408,802', '2022'],
 ['Iran', '463,747', '2025', '401,505', '2023', '398,047', '2022'],
 ['Bangladesh', '451,856', '2025', '437,415', '2023', '432,677', '2022'],
 ['Denmark', '431,228', '2025', '404,199', '2023', '400,167', '2022'],
 ['Hong Kong', '422,057', '[n 5]2025', '382,055', '2023', '359,838', '2022'],
 ['Colombia', '419,331', '2025', '363,540', '2023', '343,939', '2022'],
 ['South Africa', '418,046', '2025', '377,782', '2023', '405,270', '2022'],
 ['Romania', '406,202', '2025', '351,003', '2023', '300,690', '2022'],
 ['Egypt', '380,044', '2025', '395,926', '2023', '409,306', '2022'],
 ['Pakistan', '374,595', '2024', '338,368', '2023', '326,796', '2022'],
 ['Chile', '362,240', '2025', '335,533', '2023', '300,686', '2022'],
 ['Czech Republic', '360,233', '2025', '330,858', '2023', '290,527', '2022'],
 ['Finland', '319,989', '2025', '300,187', '2023', '282,511', '2022'],
 ['Portugal', '319,934', '2025', '287,080', '2023', '254,849', '2022'],
 ['Kazakhstan', '306,629', '2025', '261,421', '2023', '225,496', '2022'],
 ['Peru', '294,898', '2025', '267,603', '2023', '242,631', '2022'],
 ['Iraq', '270,874', '2025', '250,843', '2023', '264,182', '2022'],
 ['Greece', '265,171', '2025', '238,206', '2023', '217,285', '2022'],
 ['Algeria', '264,270', '2025', '239,899', '2023', '191,912', '2022'],
 ['New Zealand', '262,924', '2025', '253,466', '2023', '245,845', '2022'],
 ['Hungary', '245,619', '2025', '212,389', '2023', '177,337', '2022'],
 ['Qatar', '226,217', '2025', '235,770', '2022', '237,101', '2022'],
 ['Nigeria', '194,955', '2025', '362,815', '2023', '475,058', '2022'],
 ['Ukraine',
  '189,827',
  '[n 6]2025',
  '178,757',
  '[n 6]2023',
  '160,502',
  '[n 6]2022'],
 ['Morocco', '168,597', '2025', '141,109', '2023', '130,912', '2022'],
 ['Kuwait', '161,950', '2025', '161,772', '2023', '175,363', '2022'],
 ['Cuba', '—', '—', '147,193', '2022'],
 ['Ethiopia', '145,031', '2024', '163,698', '2023', '118,971', '2022'],
 ['Slovakia', '142,617', '2024', '132,794', '2023', '115,304', '2022'],
 ['Dominican Republic',
  '126,238',
  '2024',
  '121,444',
  '2023',
  '113,537',
  '2022'],
 ['Ecuador', '121,425', '2024', '118,845', '2023', '115,049', '2022'],
 ['Puerto Rico', '120,971', '2024', '117,902', '2023', '113,434', '2022'],
 ['Kenya', '116,321', '2024', '107,441', '2023', '113,419', '2022'],
 ['Angola', '113,286', '2024', '84,773', '2023', '113,304', '2022'],
 ['Uzbekistan', '112,653', '2024', '90,889', '2023', '80,391', '2022'],
 ['Guatemala', '112,369', '2024', '102,050', '2023', '95,003', '2022'],
 ['Oman', '109,993', '2024', '108,192', '2023', '114,666', '2022'],
 ['Bulgaria', '108,425', '2024', '101,584', '2023', '90,213', '2022'],
 ['Venezuela', '106,327', '2024', '—', '129,313', '2022'],
 ['Costa Rica', '95,149', '2024', '86,498', '2023', '68,380', '2022'],
 ['Luxembourg', '91,210', '2024', '85,755', '2023', '81,530', '2022'],
 ['Croatia', '89,665', '2024', '82,689', '2023', '71,552', '2022'],
 ['Panama', '87,347', '2024', '83,382', '2023', '76,522', '2022'],
 ['Ivory Coast', '86,993', '2024', '78,789', '2023', '70,018', '2022'],
 ['Sri Lanka', '74,846', '2022', '84,357', '2023', '76,187', '2022'],
 ['Turkmenistan', '83,883', '2024', '59,887', '2023', '67,009', '2022'],
 ['Lithuania', '82,789', '2024', '77,836', '2023', '70,878', '2022'],
 ['Uruguay', '82,605', '2024', '77,241', '2023', '71,171', '2022'],
 ['Serbia', '82,550', '2024', '75,187', '2023', '63,563', '2022'],
 ['Tanzania', '79,867', '2024', '79,158', '2023', '73,535', '[n 7]2022'],
 ['Azerbaijan', '75,649', '2024', '72,356', '2023', '78,721', '2022'],
 ['Ghana', '75,307', '2024', '76,370', '2023', '73,766', '2022'],
 ['Slovenia', '73,198', '2024', '68,217', '2023', '59,981', '2022'],
 ['Belarus', '73,129', '2024', '71,857', '2023', '72,873', '2022'],
 ['DR Congo', '72,483', '2024', '66,383', '2023', '62,551', '2022'],
 ['Myanmar', '64,284', '2024', '64,815', '2023', '65,211', '2022'],
 ['Uganda', '55,587', '2024', '49,273', '2023', '48,243', '2022'],
 ['Macau', '53,447', '[n 8]2024', '47,062', '2023', '24,042', '2022'],
 ['Cameroon', '53,391', '2024', '47,946', '2023', '44,341', '2022'],
 ['Jordan', '53,305', '2024', '50,814', '2023', '47,452', '2022'],
 ['Tunisia', '52,636', '2024', '48,530', '2023', '46,181', '2022'],
 ['Bolivia', '48,172', '2024', '45,850', '2023', '44,008', '2022'],
 ['Bahrain', '47,812', '2024', '43,205', '2023', '44,382', '2022'],
 ['Cambodia', '47,147', '2024', '31,773', '2023', '29,504', '2022'],
 ['Latvia', '45,521', '2024', '43,627', '2023', '40,876', '2022'],
 ['Paraguay', '44,937', '2024', '42,956', '2023', '41,722', '2022'],
 ['Libya', '44,812', '2024', '50,492', '2023', '40,537', '2022'],
 ['Nepal', '43,673', '2024', '40,908', '2023', '39,406', '2022'],
 ['Estonia', '43,044', '2024', '40,745', '2023', '38,049', '2022'],
 ['Honduras', '36,735', '2024', '34,401', '2023', '31,717', '2022'],
 ['Zimbabwe', '35,919', '2024', '26,538', '2023', '26,418', '2022'],
 ['El Salvador', '35,848', '2024', '34,016', '2023', '32,488', '2022'],
 ['Cyprus',
  '34,790',
  '[n 9]2024',
  '32,230',
  '[n 9]2023',
  '29,210',
  '[n 9]2022'],
 ['Senegal', '33,685', '2024', '31,014', '2023', '27,775', '2022'],
 ['Georgia',
  '33,191',
  '[n 10]2024',
  '30,536',
  '[n 10]2023',
  '24,605',
  '[n 10]2022'],
 ['Iceland', '32,919', '2024', '31,020', '2023', '28,064', '2022'],
 ['Papua New Guinea', '31,716', '2024', '30,933', '2022', '31,609', '2022'],
 ['Zambia', '29,872', '2024', '28,163', '2023', '29,136', '2022'],
 ['Bosnia and Herzegovina',
  '29,078',
  '2024',
  '27,055',
  '2023',
  '24,473',
  '2022'],
 ['Trinidad and Tobago', '28,365', '2024', '28,140', '2023', '30,053', '2022'],
 ['Sudan', '26,865', '2024', '109,327', '2023', '36,729', '2022'],
 ['Guinea', '25,447', '2024', '23,612', '2023', '20,846', '2022'],
 ['Albania', '25,431', '2024', '22,978', '2023', '18,916', '2022'],
 ['Armenia', '25,408', '2024', '24,212', '2023', '19,513', '2022'],
 ['Haiti', '24,046', '2024', '19,851', '2023', '18,751', '2022'],
 ['Mozambique', '22,975', '2024', '20,625', '2023', '18,406', '2022'],
 ['Malta', '22,737', '2024', '20,957', '2023', '18,100', '2022'],
 ['Mongolia', '21,943', '2024', '19,872', '2023', '17,146', '2022'],
 ['Burkina Faso', '21,902', '2024', '20,325', '2023', '19,176', '2022'],
 ['Mali', '21,662', '2024', '20,905', '2023', '18,827', '2022'],
 ['Botswana', '21,418', '2024', '19,396', '2023', '20,352', '2022'],
 ['Benin', '21,371', '2024', '19,673', '2023', '17,396', '2022'],
 ['Guyana', '21,178', '2024', '16,786', '2023', '14,718', '2022'],
 ['Gabon', '21,013', '2024', '20,516', '2023', '20,132', '2022'],
 ['Jamaica', '20,098', '2024', '19,423', '2023', '17,097', '2022'],
 ['Nicaragua', '18,829', '2024', '17,829', '2023', '15,671', '2022'],
 ['Niger', '18,816', '2024', '16,819', '2023', '15,414', '2022'],
 ['Chad', '18,697', '2024', '13,149', '2023', '16,799', '2022'],
 ['Palestine',
  '18,602',
  '[n 11]2023',
  '17,396',
  '[n 11]2023',
  '19,111',
  '[n 12]2022'],
 ['Syria', '—', '8,980', '2021', '18,595', '2022'],
 ['Moldova',
  '18,356',
  '[n 13]2024',
  '16,539',
  '[n 13]2023',
  '14,510',
  '[n 13]2022'],
 ['Lebanon', '21,780', '2022', '17,937', '2023', '39,303', '2022'],
 ['Yemen', '16,940', '2024', '—', '11,007', '2022'],
 ['Madagascar', '16,465', '2024', '16,032', '2023', '14,954', '2022'],
 ['Mauritius', '16,359', '2024', '14,397', '2023', '12,898', '2022'],
 ['North Macedonia', '15,873', '2024', '14,761', '2023', '13,711', '2022'],
 ['Kyrgyzstan', '15,770', '2024', '13,782', '2023', '12,560', '2022'],
 ['Brunei', '15,510', '2024', '15,128', '2023', '16,681', '2022'],
 ['Congo', '15,501', '2024', '15,321', '2023', '15,344', '2022'],
 ['Laos', '15,190', '2024', '15,843', '2023', '15,362', '2022'],
 ['North Korea', '—', '—', '15,176', '2022'],
 ['Afghanistan', '14,467', '2022', '14,502', '2022', '14,174', '2022'],
 ['Bahamas', '14,390', '2024', '14,339', '2023', '12,897', '2022'],
 ['Rwanda', '13,701', '2024', '14,098', '2023', '13,312', '2022'],
 ['Tajikistan', '13,000', '2024', '12,061', '2023', '10,492', '2022'],
 ['Somalia', '12,804', '2024', '11,680', '2023', '10,420', '2022'],
 ['Namibia', '12,765', '2024', '12,351', '2023', '12,607', '2022'],
 ['Kosovo', '11,318', '2024', '10,438', '2023', '9,397', '2022'],
 ['Malawi', '11,241', '2024', '14,084', '2023', '12,558', '2022'],
 ['Equatorial Guinea', '10,708', '2024', '12,117', '2023', '11,767', '2022'],
 ['Mauritania', '10,628', '2024', '10,453', '2023', '10,997', '2022'],
 ['Togo', '9,832', '2024', '9,171', '2023', '8,087', '2022'],
 ['New Caledonia', '—', '9,623', '2022', '9,623', '2022'],
 ['Monaco', '—', '8,784', '2022', '8,772', '2022'],
 ['Montenegro', '8,010', '2024', '7,405', '2023', '6,229', '2022'],
 ['Bermuda', '—', '7,828', '2022', '7,546', '2022'],
 ['Liechtenstein', '—', '7,365', '2022', '7,757', '2022'],
 ['Maldives', '7,199', '2024', '6,600', '2023', '6,170', '2022'],
 ['Barbados', '6,863', '2024', '6,394', '2023', '5,699', '2022'],
 ['Cayman Islands', '—', '6,601', '2022', '6,281', '2022'],
 ['South Sudan', '6,517', '2024', '—', '4,616', '2022'],
 ['French Polynesia', '—', '5,815', '2022', '5,814', '2022'],
 ['Fiji', '5,801', '2024', '5,495', '2023', '4,979', '2022'],
 ['Eswatini', '5,085', '2024', '4,598', '2023', '4,326', '2022'],
 ['Liberia', '4,754', '2024', '4,332', '2023', '3,265', '2022'],
 ['Sierra Leone', '4,558', '2024', '3,810', '2023', '3,481', '2022'],
 ['Djibouti', '4,364', '2024', '4,099', '2023', '4,003', '2022'],
 ['Suriname', '4,337', '2024', '3,782', '2023', '3,620', '2022'],
 ['Aruba', '4,069', '2024', '3,545', '2022', '3,544', '2022'],
 ['Andorra', '3,897', '2024', '3,728', '2023', '3,376', '2022'],
 ['Belize', '3,296', '2024', '3,282', '2023', '2,830', '2022'],
 ['Bhutan', '3,110', '2024', '2,898', '2022', '2,898', '2022'],
 ['Burundi', '3,075', '2024', '2,642', '2023', '4,032', '2022'],
 ['Curaçao', '—', '3,074', '2022', '3,075', '2022'],
 ['Greenland', '—', '3,236', '2021', '2,926', '2022'],
 ['Central African Republic',
  '2,810',
  '2024',
  '2,555',
  '2023',
  '2,395',
  '2022'],
 ['Cape Verde', '2,718', '2024', '2,587', '2023', '2,314', '2022'],
 ['Gambia', '2,694', '2024', '2,340', '2023', '2,231', '2022'],
 ['Saint Lucia', '2,582', '2024', '2,520', '2023', '2,165', '2022'],
 ['Lesotho', '2,395', '2024', '2,046', '2023', '2,287', '2022'],
 ['Eritrea', '—', '—', '2,383', '2022'],
 ['Zanzibar', '—', '—', '2,361', '2022'],
 ['Seychelles', '2,203', '2024', '2,141', '2023', '1,994', '2022'],
 ['Guinea-Bissau', '2,151', '2024', '1,966', '2023', '1,574', '2022'],
 ['Antigua and Barbuda', '2,127', '2024', '2,033', '2023', '1,770', '2022'],
 ['San Marino', '2,033', '2024', '1,855', '2021', '1,780', '2022'],
 ['East Timor', '1,992', '2024', '2,243', '2023', '3,204', '2022'],
 ['Solomon Islands', '1,707', '2024', '1,631', '2023', '1,597', '2022'],
 ['Sint Maarten', '—', '1,623', '2023', '1,572', '2022'],
 ['Comoros', '1,422', '2024', '1,352', '2023', '1,246', '2022'],
 ['Grenada', '1,406', '2024', '1,320', '2023', '1,192', '2022'],
 ['Turks and Caicos Islands', '—', '1,402', '2023', '1,138', '2022'],
 ['Vanuatu', '1,289', '2024', '1,126', '2023', '985', '2022'],
 ['Saint Kitts and Nevis', '1,134', '2024', '1,077', '2023', '979', '2022'],
 ['Saint Vincent and the Grenadines',
  '1,128',
  '2024',
  '1,066',
  '2023',
  '946',
  '2022'],
 ['Samoa', '1,024', '2024', '934', '2023', '857', '2022'],
 ['São Tomé and Príncipe', '751', '2024', '603', '2023', '546', '2022'],
 ['Dominica', '708', '2024', '654', '2023', '612', '2022'],
 ['Tonga', '581', '2024', '500', '2022', '488', '2022'],
 ['Micronesia', '484', '2024', '460', '2023', '427', '2022'],
 ['Kiribati', '311', '2024', '279', '2023', '223', '2022'],
 ['Palau', '308', '2024', '263', '2023', '225', '2022'],
 ['Marshall Islands', '305', '2024', '284', '2023', '279', '2022'],
 ['Nauru', '161', '2024', '154', '2023', '147', '2022'],
 ['Tuvalu', '66', '2024', '62', '2023', '59', '2022']]

In [106]:
# country , gdp, year
e.save_json(raws)

In [32]:
try:
    with sqlite3.connect('World_Economies.db') as conn:
        print(f"Opened SQLite database with version {sqlite3.sqlite_version} successfully.")

except sqlite3.OperationalError as e:
    print("Failed to open database:", e)
    
table.to_sql('Countries_by_GDP', conn)

Opened SQLite database with version 3.39.5 successfully.

72

In [87]:
import logging, logging.config
from functools import wraps

logger = logging.getLogger()
if not logger.handlers:
    # 사용자 정의 Formatter
    formatter = logging.Formatter(
        fmt='%(asctime)s, %(message)s',
        datefmt='%Y-%B-%d-%H-%M-%S'  # 원하는 날짜 포맷
    )

    # 핸들러 생성 및 설정
    handler = logging.FileHandler('etl_project_log.txt')
    handler.setFormatter(formatter)

    # 로거 설정
    logger.setLevel(logging.INFO)
    logger.addHandler(handler)
# # 기존 핸들러 제거
# for handler in logger.handlers[:]:
#     logger.removeHandler(handler)

# 테스트 로그 메시지
logger.info("This is a test log message.")

def logging_time(func):         
    @wraps(func)
    def wrapper(*args, **kwargs):
        start_time = datetime.datetime.now()
        # formatted_start = start_time.strftime("%Y-%B-%d-%H-%M-%S")

        logging.info(f"Started '{func.__name__}'")
        
        result = func(*args, **kwargs)
        
        end_time = datetime.datetime.now()
        # formatted_end = end_time.strftime("%Y-%B-%d-%H-%M-%S")

        logging.info(f"Finished '{func.__name__}'")
        # logging.info(f"Execution time for '{func.__name__}': {end_time - start_time}")
        return result
    return wrapper

In [88]:
@logging_time
def sample_function(duration):
    """샘플 함수: 주어진 시간(초) 동안 대기"""
    import time
    time.sleep(duration)
    return "Done!"
result_sample = sample_function(2)
print(result_sample)

Done!

In [ ]:
Algeria
Angola
Benin
Botswana
Burkina Faso
Burundi
Cameroon
Cape Verde
Central African Republic
Chad
Comoros
Congo, Dem. Rep. of
Congo, Republic of
Côte d'Ivoire
Djibouti
Egypt
Equatorial Guinea
Eritrea
Eswatini
Ethiopia
Gabon
Gambia, The
Ghana
Guinea
Guinea-Bissau
Kenya
Lesotho
Liberia
Libya
Madagascar
Malawi
Mali
Mauritania
Mauritius
Mayotte
Morocco
Mozambique
Namibia
Niger
Nigeria
Reunion
Rwanda
Saint Helena
São Tomé and Príncipe
Senegal
Seychelles
Sierra Leone
Somalia
South Africa
South Sudan
Sudan
Tanzania
Togo
Tunisia
Uganda
Zambia
Zimbabwe

# 추가 요구 사항
## 코드를 수정해서 아래 요구사항을 구현하세요.
- 추출한 데이터를 데이터베이스에 저장하세요. 'Countries_by_GDP'라는 테이블명으로 'World_Economies.db'라는 데이터 베이스에 저장되어야 합니다. <br>해당 테이블은 'Country', 'GDP_USD_billion'라는 어트리뷰트를 반드시 가져야 합니다.

- 데이터베이스는 sqlite3 라이브러리를 사용해서 만드세요.

- 필요한 모든 작업을 수행하는 'etl_project_gdp_with_sql.py' 코드를 작성하세요.

## 화면 출력
- SQL Query를 사용해야 합니다.

- GDP가 100B USD이상이 되는 국가만을 구해서 화면에 출력해야 합니다.

- 각 Region별로 top5 국가의 GDP 평균을 구해서 화면에 출력해야 합니다.

### REGION Categorize

In [214]:
def flatten(arr:list):
    return[
        item
        for sublist in arr for item in (flatten(sublist) 
        if isinstance(sublist, list)else [sublist])
    ]

url = 'https://www.imf.org/external/datamapper/region.htm#sea'
response = requests.get(url)

if response.status_code == 200:
    region_html = response.text

def region_categorize(html: str):
    '''
    Region : [소속 국가] 형식의 딕셔너리를 반환합니다.
    Param: html: str
    return: region: dict
    '''
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.select('div.fancy > table > tr')

    category = [[td.get_text(strip=False) for td in tr.find_all('th')] for tr in table]
    for i in range(len(category) - 1, -1, -1):  # 인덱스를 뒤에서부터 순회
        if not category[i]: del category[i] # 리스트가 비어있으면 제거
        
    nara = [[td.get_text(strip=False) for td in tr.find_all('p')] for tr in table]
    for i in range(len(nara) - 1, -1, -1):  # 인덱스를 뒤에서부터 순회
        if not nara[i]: del nara[i] # 리스트가 비어있으면 제거
        
    region_arr = []
    for c in category:
        if len(c) == 0: continue
        region_arr.append(re.sub(r'[\r\n\xa0]', '', c[0]))
        
    for i, line in enumerate(nara):
        tmp = []
        for subline in line:
            tmp.append(subline.split('\n'))
        tmp = flatten(tmp)
        
        for j in range(len(tmp)-1, -1, -1):
            text = tmp[j]
            text = re.sub(r'\r', '', text)
            # '\xa0\xa0'은 ''으로 대체하고, '\xa0' 한 개는 ' '으로 대체
            text = re.sub(r'(?<=[A-Za-z])\xa0\xa0(?=[A-Za-z])', ' ', text)
            text = re.sub(r'\xa0\xa0', '', text) 
            text = re.sub(r'\xa0', ' ', text) 
            tmp[j] = text.strip()    
            if text == '': 
                del tmp[j]
                continue
        nara[i] = tmp
        
    region = {}
    for k, v in zip(region_arr, nara):
        region[k] = v
    
    return region
region = region_categorize(region_html)
region

{'Africa': ['Algeria',
  'Angola',
  'Benin',
  'Botswana',
  'Burkina Faso',
  'Burundi',
  'Cameroon',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Comoros',
  'Congo, Dem. Rep. of',
  'Congo, Republic of',
  "Côte d'Ivoire",
  'Djibouti',
  'Egypt',
  'Equatorial Guinea',
  'Eritrea',
  'Eswatini',
  'Ethiopia',
  'Gabon',
  'Gambia, The',
  'Ghana',
  'Guinea',
  'Guinea-Bissau',
  'Kenya',
  'Lesotho',
  'Liberia',
  'Libya',
  'Madagascar',
  'Malawi',
  'Mali',
  'Mauritania',
  'Mauritius',
  'Mayotte',
  'Morocco',
  'Mozambique',
  'Namibia',
  'Niger',
  'Nigeria',
  'Reunion',
  'Rwanda',
  'Saint Helena',
  'São Tomé and Príncipe',
  'Senegal',
  'Seychelles',
  'Sierra Leone',
  'Somalia',
  'South Africa',
  'South Sudan',
  'Sudan',
  'Tanzania',
  'Togo',
  'Tunisia',
  'Uganda',
  'Zambia',
  'Zimbabwe'],
 'North Africa': ['Algeria', 'Egypt', 'Libya', 'Morocco', 'Tunisia'],
 'Sub-Saharan Africa': ['Angola',
  'Benin',
  'Botswana',
  'Burkina Faso',
  'Burundi',
  'Cameroon',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Comoros',
  'Congo, Dem. Rep. of',
  'Congo, Republic of',
  "Côte d'Ivoire",
  'Djibouti',
  'Equatorial Guinea',
  'Eritrea',
  'Eswatini',
  'Ethiopia',
  'Gabon',
  'Gambia, The',
  'Ghana',
  'Guinea',
  'Guinea-Bissau',
  'Kenya',
  'Lesotho',
  'Liberia',
  'Madagascar',
  'Malawi',
  'Mali',
  'Mauritania',
  'Mauritius',
  'Mayotte',
  'Mozambique',
  'Namibia',
  'Niger',
  'Nigeria',
  'Reunion',
  'Rwanda',
  'Saint Helena',
  'São Tomé and Príncipe',
  'Senegal',
  'Seychelles',
  'Sierra Leone',
  'Somalia',
  'South Africa',
  'South Sudan',
  'Sudan',
  'Tanzania',
  'Togo',
  'Uganda',
  'Zambia',
  'Zimbabwe'],
 'Asia and Pacific': ['Afghanistan,Islamic Rep. of',
  'American Samoa',
  'Armenia',
  'Australia',
  'Azerbaijan',
  'Bangladesh',
  'Bhutan',
  'Brunei Darussalam',
  'Cambodia',
  "China, People's Republic of",
  'Cook Islands',
  'Fiji',
  'French Polynesia',
  'Georgia',
  'Guam',
  'Hong Kong SAR',
  'India',
  'Indonesia',
  'Japan',
  'Kazakhstan',
  'Kiribati',
  "Korea, Dem.People's Rep. of",
  'Korea, Republic of',
  'Kyrgyz Republic',
  'Labuan (Malaysia)',
  "Lao People's Democratic Republic",
  'Macao SAR',
  'Malaysia',
  'Maldives',
  'Marshall Islands',
  'Micronesia, Fed.States of',
  'Mongolia',
  'Myanmar',
  'Nauru',
  'Nepal',
  'New Caledonia',
  'New Zealand',
  'Niue',
  'Norfolk Island',
  'Northern Mariana Islands',
  'Palau',
  'Pakistan',
  'Papua New Guinea',
  'Philippines',
  'Pitcairn',
  'Samoa',
  'Singapore',
  'Solomon Islands',
  'Sri Lanka',
  'Taiwan Province of China',
  'Tajikistan',
  'Thailand',
  'Timor-Leste',
  'Tokelau',
  'Tonga',
  'Turkmenistan',
  'Turkey',
  'Tuvalu',
  'Uzbekistan',
  'Vanuatu',
  'Vietnam',
  'Wallis and Futuna Islands'],
 'Australia and New Zealand': ['Australia', 'New Zealand', 'Norfolk Island'],
 'Central Asia and the Caucasus': ['Afghanistan,Islamic Rep. of',
  'Armenia',
  'Azerbaijan',
  'Georgia',
  'Kazakhstan',
  'Kyrgyz Republic',
  'Tajikistan',
  'Turkmenistan',
  'Turkey',
  'Uzbekistan'],
 'East Asia': ["China, People's Republic of",
  'Hong Kong SAR',
  'Japan',
  "Korea, Dem.People's Rep. of",
  'Korea, Republic of',
  'Macao SAR',
  'Mongolia',
  'Taiwan Province of China'],
 'Pacific Islands': ['American Samoa',
  'Cook Islands',
  'Fiji',
  'French Polynesia',
  'Guam',
  'Kiribati',
  'Marshall Islands',
  'Micronesia, Fed.States of',
  'Nauru',
  'New Caledonia',
  'Niue',
  'Northern Mariana Islands',
  'Palau',
  'Papua New Guinea',
  'Pitcairn',
  'Samoa',
  'Solomon Islands',
  'Tokelau',
  'Tonga',
  'Tuvalu',
  'Vanuatu',
  'Wallis and Futuna Islands'],
 'South Asia': ['Bangladesh',
  'Bhutan',
  'India',
  'Maldives',
  'Nepal',
  'Pakistan',
  'Sri Lanka'],
 'Southeast Asia': ['Brunei Darussalam',
  'Cambodia',
  'Indonesia',
  'Labuan (Malaysia)',
  "Lao People's Democratic Republic",
  'Malaysia',
  'Myanmar',
  'Philippines',
  'Singapore',
  'Thailand',
  'Timor-Leste',
  'Vietnam'],
 'Europe': ['Åland Islands',
  'Albania',
  'Andorra',
  'Austria',
  'Belarus',
  'Belgium',
  'Bosnia and Herzegovina',
  'Bulgaria',
  'Croatia',
  'Czech Republic',
  'Cyprus',
  'Denmark',
  'Estonia',
  'Faeroe Islands',
  'Finland',
  'France',
  'Germany',
  'Gibraltar',
  'Greece',
  'Greenland',
  'Guernsey,(Channel Islands)',
  'Holy See',
  'Hungary',
  'Iceland',
  'Ireland',
  'Isle of Man',
  'Italy',
  'Jersey,(Channel Islands)',
  'Kosovo',
  'Latvia',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Malta',
  'Moldova',
  'Monaco',
  'Montenegro',
  'Netherlands',
  'North Macedonia',
  'Norway',
  'Poland',
  'Portugal',
  'Romania',
  'Russian Federation',
  'San Marino',
  'Serbia',
  'Slovak Republic',
  'Slovenia',
  'Spain',
  'Sweden',
  'Switzerland',
  'Ukraine',
  'United Kingdom'],
 'Eastern Europe': ['Albania',
  'Belarus',
  'Bosnia and Herzegovina',
  'Bulgaria',
  'Croatia',
  'Czech Republic',
  'Estonia',
  'Hungary',
  'Kosovo',
  'Latvia',
  'Lithuania',
  'Moldova',
  'Montenegro',
  'North Macedonia',
  'Poland',
  'Romania',
  'Russian Federation',
  'Serbia',
  'Slovak Republic',
  'Slovenia',
  'Ukraine'],
 'Western Europe': ['Åland Islands',
  'Andorra',
  'Austria',
  'Belgium',
  'Cyprus',
  'Denmark',
  'Faeroe Islands',
  'Finland',
  'France',
  'Germany',
  'Gibraltar',
  'Greece',
  'Greenland',
  'Guernsey,(Channel Islands)',
  'Holy See',
  'Iceland',
  'Ireland',
  'Isle of Man',
  'Italy',
  'Jersey,(Channel Islands)',
  'Liechtenstein',
  'Luxembourg',
  'Malta',
  'Monaco',
  'Netherlands',
  'Norway',
  'Portugal',
  'Sweden',
  'San Marino',
  'Spain',
  'Switzerland',
  'United Kingdom'],
 'Middle East': ['Bahrain',
  'Iran, Islamic Republic of',
  'Iraq',
  'Israel',
  'Jordan',
  'Kuwait',
  'Lebanon',
  'Oman',
  'Qatar',
  'Saudi Arabia',
  'Syrian Arab Republic',
  'United Arab Emirates',
  'West Bank and Gaza',
  'Yemen,Republic of'],
 'Western Hemisphere': ['Anguilla',
  'Antigua and Barbuda',
  'Argentina',
  'Aruba',
  'Bahamas, The',
  'Barbados',
  'Belize',
  'Bermuda',
  'Bolivia',
  'Brazil',
  'Canada',
  'Cayman Islands',
  'Chile',
  'Colombia',
  'Costa Rica',
  'Cuba',
  'Dominica',
  'Dominican Republic',
  'Ecuador',
  'El Salvador',
  'Falkland Islands(Malvinas)',
  'French Guiana',
  'Grenada',
  'Guadeloupe',
  'Guatemala',
  'Guyana',
  'Haiti',
  'Honduras',
  'Jamaica',
  'Martinique',
  'Mexico',
  'Montserrat',
  'Netherlands Antilles',
  'Nicaragua',
  'Panama',
  'Paraguay',
  'Peru',
  'Puerto Rico',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Pierre and Miquelon',
  'Saint Vincent and the Grenadines',
  'Suriname',
  'Trinidad and Tobago',
  'Turks and Caicos Islands',
  'United States',
  'Uruguay',
  'Venezuela, Rep. Boliv. de',
  'British Virgin Islands',
  'United States Virgin Islands'],
 'Caribbean': ['Anguilla',
  'Antigua and Barbuda',
  'Aruba',
  'Bahamas, The',
  'Barbados',
  'Belize',
  'Cayman Islands',
  'Cuba',
  'Dominica',
  'Dominican Republic',
  'Grenada',
  'Guadeloupe',
  'Haiti',
  'Jamaica',
  'Martinique',
  'Montserrat',
  'Netherlands Antilles',
  'Puerto Rico',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent and the Grenadines',
  'Trinidad and Tobago',
  'Turks and Caicos Islands',
  'British Virgin Islands',
  'United States Virgin Islands'],
 'Central America': ['Costa Rica',
  'Dominican Republic',
  'El Salvador',
  'Guatemala',
  'Honduras',
  'Nicaragua',
  'Panama'],
 'North America': ['Bermuda',
  'Canada',
  'Mexico',
  'United States',
  'Saint Pierre and Miquelon'],
 'South America': ['Argentina',
  'Bolivia',
  'Brazil',
  'Chile',
  'Colombia',
  'Ecuador',
  'Falkland Islands(Malvinas)',
  'French Guiana',
  'Paraguay',
  'Peru',
  'Uruguay',
  'Venezuela, Rep. Boliv. de']}

In [215]:
region

{'Africa': ['Algeria',
  'Angola',
  'Benin',
  'Botswana',
  'Burkina Faso',
  'Burundi',
  'Cameroon',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Comoros',
  'Congo, Dem. Rep. of',
  'Congo, Republic of',
  "Côte d'Ivoire",
  'Djibouti',
  'Egypt',
  'Equatorial Guinea',
  'Eritrea',
  'Eswatini',
  'Ethiopia',
  'Gabon',
  'Gambia, The',
  'Ghana',
  'Guinea',
  'Guinea-Bissau',
  'Kenya',
  'Lesotho',
  'Liberia',
  'Libya',
  'Madagascar',
  'Malawi',
  'Mali',
  'Mauritania',
  'Mauritius',
  'Mayotte',
  'Morocco',
  'Mozambique',
  'Namibia',
  'Niger',
  'Nigeria',
  'Reunion',
  'Rwanda',
  'Saint Helena',
  'São Tomé and Príncipe',
  'Senegal',
  'Seychelles',
  'Sierra Leone',
  'Somalia',
  'South Africa',
  'South Sudan',
  'Sudan',
  'Tanzania',
  'Togo',
  'Tunisia',
  'Uganda',
  'Zambia',
  'Zimbabwe'],
 'North Africa': ['Algeria', 'Egypt', 'Libya', 'Morocco', 'Tunisia'],
 'Sub-Saharan Africa': ['Angola',
  'Benin',
  'Botswana',
  'Burkina Faso',
  'Burundi',
  'Cameroon',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Comoros',
  'Congo, Dem. Rep. of',
  'Congo, Republic of',
  "Côte d'Ivoire",
  'Djibouti',
  'Equatorial Guinea',
  'Eritrea',
  'Eswatini',
  'Ethiopia',
  'Gabon',
  'Gambia, The',
  'Ghana',
  'Guinea',
  'Guinea-Bissau',
  'Kenya',
  'Lesotho',
  'Liberia',
  'Madagascar',
  'Malawi',
  'Mali',
  'Mauritania',
  'Mauritius',
  'Mayotte',
  'Mozambique',
  'Namibia',
  'Niger',
  'Nigeria',
  'Reunion',
  'Rwanda',
  'Saint Helena',
  'São Tomé and Príncipe',
  'Senegal',
  'Seychelles',
  'Sierra Leone',
  'Somalia',
  'South Africa',
  'South Sudan',
  'Sudan',
  'Tanzania',
  'Togo',
  'Uganda',
  'Zambia',
  'Zimbabwe'],
 'Asia and Pacific': ['Afghanistan,Islamic Rep. of',
  'American Samoa',
  'Armenia',
  'Australia',
  'Azerbaijan',
  'Bangladesh',
  'Bhutan',
  'Brunei Darussalam',
  'Cambodia',
  "China, People's Republic of",
  'Cook Islands',
  'Fiji',
  'French Polynesia',
  'Georgia',
  'Guam',
  'Hong Kong SAR',
  'India',
  'Indonesia',
  'Japan',
  'Kazakhstan',
  'Kiribati',
  "Korea, Dem.People's Rep. of",
  'Korea, Republic of',
  'Kyrgyz Republic',
  'Labuan (Malaysia)',
  "Lao People's Democratic Republic",
  'Macao SAR',
  'Malaysia',
  'Maldives',
  'Marshall Islands',
  'Micronesia, Fed.States of',
  'Mongolia',
  'Myanmar',
  'Nauru',
  'Nepal',
  'New Caledonia',
  'New Zealand',
  'Niue',
  'Norfolk Island',
  'Northern Mariana Islands',
  'Palau',
  'Pakistan',
  'Papua New Guinea',
  'Philippines',
  'Pitcairn',
  'Samoa',
  'Singapore',
  'Solomon Islands',
  'Sri Lanka',
  'Taiwan Province of China',
  'Tajikistan',
  'Thailand',
  'Timor-Leste',
  'Tokelau',
  'Tonga',
  'Turkmenistan',
  'Turkey',
  'Tuvalu',
  'Uzbekistan',
  'Vanuatu',
  'Vietnam',
  'Wallis and Futuna Islands'],
 'Australia and New Zealand': ['Australia', 'New Zealand', 'Norfolk Island'],
 'Central Asia and the Caucasus': ['Afghanistan,Islamic Rep. of',
  'Armenia',
  'Azerbaijan',
  'Georgia',
  'Kazakhstan',
  'Kyrgyz Republic',
  'Tajikistan',
  'Turkmenistan',
  'Turkey',
  'Uzbekistan'],
 'East Asia': ["China, People's Republic of",
  'Hong Kong SAR',
  'Japan',
  "Korea, Dem.People's Rep. of",
  'Korea, Republic of',
  'Macao SAR',
  'Mongolia',
  'Taiwan Province of China'],
 'Pacific Islands': ['American Samoa',
  'Cook Islands',
  'Fiji',
  'French Polynesia',
  'Guam',
  'Kiribati',
  'Marshall Islands',
  'Micronesia, Fed.States of',
  'Nauru',
  'New Caledonia',
  'Niue',
  'Northern Mariana Islands',
  'Palau',
  'Papua New Guinea',
  'Pitcairn',
  'Samoa',
  'Solomon Islands',
  'Tokelau',
  'Tonga',
  'Tuvalu',
  'Vanuatu',
  'Wallis and Futuna Islands'],
 'South Asia': ['Bangladesh',
  'Bhutan',
  'India',
  'Maldives',
  'Nepal',
  'Pakistan',
  'Sri Lanka'],
 'Southeast Asia': ['Brunei Darussalam',
  'Cambodia',
  'Indonesia',
  'Labuan (Malaysia)',
  "Lao People's Democratic Republic",
  'Malaysia',
  'Myanmar',
  'Philippines',
  'Singapore',
  'Thailand',
  'Timor-Leste',
  'Vietnam'],
 'Europe': ['Åland Islands',
  'Albania',
  'Andorra',
  'Austria',
  'Belarus',
  'Belgium',
  'Bosnia and Herzegovina',
  'Bulgaria',
  'Croatia',
  'Czech Republic',
  'Cyprus',
  'Denmark',
  'Estonia',
  'Faeroe Islands',
  'Finland',
  'France',
  'Germany',
  'Gibraltar',
  'Greece',
  'Greenland',
  'Guernsey,(Channel Islands)',
  'Holy See',
  'Hungary',
  'Iceland',
  'Ireland',
  'Isle of Man',
  'Italy',
  'Jersey,(Channel Islands)',
  'Kosovo',
  'Latvia',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Malta',
  'Moldova',
  'Monaco',
  'Montenegro',
  'Netherlands',
  'North Macedonia',
  'Norway',
  'Poland',
  'Portugal',
  'Romania',
  'Russian Federation',
  'San Marino',
  'Serbia',
  'Slovak Republic',
  'Slovenia',
  'Spain',
  'Sweden',
  'Switzerland',
  'Ukraine',
  'United Kingdom'],
 'Eastern Europe': ['Albania',
  'Belarus',
  'Bosnia and Herzegovina',
  'Bulgaria',
  'Croatia',
  'Czech Republic',
  'Estonia',
  'Hungary',
  'Kosovo',
  'Latvia',
  'Lithuania',
  'Moldova',
  'Montenegro',
  'North Macedonia',
  'Poland',
  'Romania',
  'Russian Federation',
  'Serbia',
  'Slovak Republic',
  'Slovenia',
  'Ukraine'],
 'Western Europe': ['Åland Islands',
  'Andorra',
  'Austria',
  'Belgium',
  'Cyprus',
  'Denmark',
  'Faeroe Islands',
  'Finland',
  'France',
  'Germany',
  'Gibraltar',
  'Greece',
  'Greenland',
  'Guernsey,(Channel Islands)',
  'Holy See',
  'Iceland',
  'Ireland',
  'Isle of Man',
  'Italy',
  'Jersey,(Channel Islands)',
  'Liechtenstein',
  'Luxembourg',
  'Malta',
  'Monaco',
  'Netherlands',
  'Norway',
  'Portugal',
  'Sweden',
  'San Marino',
  'Spain',
  'Switzerland',
  'United Kingdom'],
 'Middle East': ['Bahrain',
  'Iran, Islamic Republic of',
  'Iraq',
  'Israel',
  'Jordan',
  'Kuwait',
  'Lebanon',
  'Oman',
  'Qatar',
  'Saudi Arabia',
  'Syrian Arab Republic',
  'United Arab Emirates',
  'West Bank and Gaza',
  'Yemen,Republic of'],
 'Western Hemisphere': ['Anguilla',
  'Antigua and Barbuda',
  'Argentina',
  'Aruba',
  'Bahamas, The',
  'Barbados',
  'Belize',
  'Bermuda',
  'Bolivia',
  'Brazil',
  'Canada',
  'Cayman Islands',
  'Chile',
  'Colombia',
  'Costa Rica',
  'Cuba',
  'Dominica',
  'Dominican Republic',
  'Ecuador',
  'El Salvador',
  'Falkland Islands(Malvinas)',
  'French Guiana',
  'Grenada',
  'Guadeloupe',
  'Guatemala',
  'Guyana',
  'Haiti',
  'Honduras',
  'Jamaica',
  'Martinique',
  'Mexico',
  'Montserrat',
  'Netherlands Antilles',
  'Nicaragua',
  'Panama',
  'Paraguay',
  'Peru',
  'Puerto Rico',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Pierre and Miquelon',
  'Saint Vincent and the Grenadines',
  'Suriname',
  'Trinidad and Tobago',
  'Turks and Caicos Islands',
  'United States',
  'Uruguay',
  'Venezuela, Rep. Boliv. de',
  'British Virgin Islands',
  'United States Virgin Islands'],
 'Caribbean': ['Anguilla',
  'Antigua and Barbuda',
  'Aruba',
  'Bahamas, The',
  'Barbados',
  'Belize',
  'Cayman Islands',
  'Cuba',
  'Dominica',
  'Dominican Republic',
  'Grenada',
  'Guadeloupe',
  'Haiti',
  'Jamaica',
  'Martinique',
  'Montserrat',
  'Netherlands Antilles',
  'Puerto Rico',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent and the Grenadines',
  'Trinidad and Tobago',
  'Turks and Caicos Islands',
  'British Virgin Islands',
  'United States Virgin Islands'],
 'Central America': ['Costa Rica',
  'Dominican Republic',
  'El Salvador',
  'Guatemala',
  'Honduras',
  'Nicaragua',
  'Panama'],
 'North America': ['Bermuda',
  'Canada',
  'Mexico',
  'United States',
  'Saint Pierre and Miquelon'],
 'South America': ['Argentina',
  'Bolivia',
  'Brazil',
  'Chile',
  'Colombia',
  'Ecuador',
  'Falkland Islands(Malvinas)',
  'French Guiana',
  'Paraguay',
  'Peru',
  'Uruguay',
  'Venezuela, Rep. Boliv. de']}

In [216]:

import time
start = time.time()

def data_from_IMF():
    '''
    IMF의 API를 이용하여 데이터를 추출합니다.
    return: gdps: dict {country : GDP}
    '''
    year = datetime.datetime.now().strftime('%Y')
    nameURL = 'https://www.imf.org/external/datamapper/api/v1/countries'
    gdpURL = f'https://www.imf.org/external/datamapper/api/v1/NGDPD?periods={year}'

    response = requests.get(nameURL)
    names = response.text
    namedict = json.loads(names)['countries'] # 국가 코드 : 국가명 딕셔너리
    # 여기까지 2초 ~ 3초

    rspn = requests.get(gdpURL)
    gdptext = rspn.text
    gdpdict = json.loads(gdptext)['values']['NGDPD']
    # 여기까지 3초 ~ 5초

    gdps = {}
    for k, v in gdpdict.items():
        if k in namedict.keys(): # gdpdict에는 국가 이외의 대륙 분류 등이 섞여있음
            # if year in v.keys():
            gdps[namedict[k]['label']] = round(v[year], 2)
            # else:
                # gdps[namedict[k]['label']] = -1
    return gdps
gdps = data_from_IMF()
# print(f"{time.time()-start:.4f} sec")

In [217]:
# print(type(datetime.datetime.now().strftime('%Y')))
gdps

{'Sudan': 29.99,
 'El Salvador': 37.84,
 'Estonia': 45.31,
 'Eswatini': 5.42,
 'Fiji': 6.08,
 'Finland': 319.99,
 'Gabon': 20.97,
 'Georgia': 35.91,
 'Greece': 265.17,
 'Guinea': 27.3,
 'Haiti': 30.57,
 'Honduras': 38.98,
 'Hungary': 245.62,
 'Iceland': 35.38,
 'Bulgaria': 115.53,
 'Burkina Faso': 23.56,
 'Cambodia': 51.16,
 'Central African Republic': 3.03,
 "China, People's Republic of": 19534.89,
 'Colombia': 419.33,
 'Congo, Dem. Rep. of the': 79.24,
 'Costa Rica': 100.67,
 'Croatia': 96.03,
 'Cyprus': 37.69,
 'Denmark': 431.23,
 'Dominican Republic': 135.54,
 'Brunei Darussalam': 16.68,
 'Equatorial Guinea': 12.92,
 'Italy': 2459.6,
 'Jamaica': 21.59,
 'Mexico': 1817.82,
 'Puerto Rico': 122.23,
 'Qatar': 226.22,
 'Switzerland': 999.6,
 'Andorra': 4.07,
 'Angola': 118.41,
 'Argentina': 574.2,
 'Armenia': 26.58,
 'Australia': 1881.14,
 'Austria': 559.22,
 'Bangladesh': 481.86,
 'Belgium': 689.36,
 'Bhutan': 3.52,
 'Bolivia': 51.3,
 'Botswana': 22.11,
 'Brazil': 2307.16,
 'Tunisia': 54.65,
 'Türkiye, Republic of': 1455.41,
 'Uganda': 62.92,
 'United Kingdom': 3730.26,
 'Uzbekistan': 127.41,
 'Vietnam': 506.43,
 'Zambia': 31.83,
 'Zimbabwe': 36.93,
 'Tajikistan': 14.16,
 'Tanzania': 85.48,
 'Gambia, The': 3.01,
 'Trinidad and Tobago': 29.24,
 'Turkmenistan': 91.19,
 'Tuvalu': 0.08,
 'Ukraine': 189.83,
 'United Arab Emirates': 568.57,
 'United States': 30337.16,
 'Uruguay': 86.42,
 'Vanuatu': 1.21,
 'Venezuela': 109.96,
 'Yemen': 16.22,
 'Slovak Republic': 152.48,
 'Somalia': 13.89,
 'South Africa': 418.05,
 'Spain': 1827.58,
 'Saint Lucia': 2.68,
 'Saint Vincent and the Grenadines': 1.25,
 'Sweden': 638.78,
 'Taiwan Province of China': 814.44,
 'Thailand': 545.34,
 'Bahamas, The': 15.34,
 'Togo': 10.46,
 'Tonga': 0.57,
 'Russian Federation': 2195.71,
 'San Marino': 2.11,
 'Senegal': 37.8,
 'Serbia': 88.63,
 'Sierra Leone': 7.8,
 'Singapore': 561.73,
 'Slovenia': 77.35,
 'Solomon Islands': 1.83,
 'South Sudan, Republic of': 5.31,
 'Saint Kitts and Nevis': 1.22,
 'Suriname': 4.96,
 'Norway': 506.47,
 'Oman': 111.31,
 'Panama': 91.73,
 'Peru': 294.9,
 'Portugal': 319.93,
 'Congo, Republic of ': 15.92,
 'Romania': 406.2,
 'Rwanda': 14.02,
 'Samoa': 1.15,
 'São Tomé and Príncipe': 0.95,
 'Saudi Arabia': 1136.58,
 'Seychelles': 2.23,
 'Mongolia': 27.24,
 'Montenegro': 8.85,
 'Mozambique': 24.55,
 'Myanmar': 65.01,
 'Nauru': 0.18,
 'Nepal': 47.83,
 'Nicaragua': 20.96,
 'North Macedonia ': 17.09,
 'Palau': 0.35,
 'Papua New Guinea': 32.64,
 'Paraguay': 46.8,
 'Philippines': 507.67,
 'Poland': 915.45,
 'Malawi': 10.78,
 'Mali': 23.21,
 'Malta': 26.26,
 'Mauritania': 11.08,
 'Mauritius': 16.52,
 'Micronesia, Fed. States of': 0.51,
 'Moldova': 19.65,
 'Morocco': 168.6,
 'Namibia': 14.36,
 'Netherlands': 1272.96,
 'New Zealand': 262.92,
 'Niger': 21.91,
 'Nigeria': 194.96,
 'Jordan': 56.11,
 'Kazakhstan': 306.63,
 'Korea, Republic of': 1947.13,
 'Kyrgyz Republic': 17.38,
 'Libya': 48.0,
 'Lithuania': 87.98,
 'Macao SAR': 59.27,
 'Madagascar': 18.1,
 'Malaysia': 488.25,
 'Maldives': 7.64,
 'Marshall Islands': 0.29,
 'Albania': 27.99,
 'Algeria': 264.27,
 'Antigua and Barbuda': 2.44,
 'Aruba': 4.45,
 'Azerbaijan': 77.04,
 'Bahrain': 49.53,
 'Barbados': 7.65,
 'Belarus': 76.87,
 'Belize': 3.49,
 'Benin': 23.07,
 'Bosnia and Herzegovina': 29.86,
 'Ethiopia': 120.91,
 'France': 3283.43,
 'Germany': 4921.56,
 'Ghana': 75.76,
 'Grenada': 1.48,
 'Guatemala': 120.96,
 'Guinea-Bissau': 2.35,
 'Guyana': 24.48,
 'Hong Kong SAR': 422.06,
 'India': 4271.92,
 'Iraq': 270.87,
 'Ireland': 587.23,
 'Indonesia': 1492.62,
 'Iran': 463.75,
 'Israel': 550.9,
 'Japan': 4389.33,
 'Kenya': 116.66,
 'Kiribati': 0.33,
 'Kosovo': 11.84,
 'Kuwait': 161.95,
 'Lao P.D.R.': 14.44,
 'Latvia': 48.16,
 'Lesotho': 2.42,
 'Liberia': 5.05,
 'Luxembourg': 96.99,
 'Burundi': 2.15,
 'Cabo Verde': 2.94,
 'Cameroon': 57.75,
 'Canada': 2330.31,
 'Chad': 19.65,
 'Chile': 362.24,
 'Comoros': 1.53,
 "Côte d'Ivoire": 95.46,
 'Czech Republic': 360.23,
 'Timor-Leste': 2.13,
 'Djibouti': 4.67,
 'Dominica': 0.75,
 'Ecuador': 125.66,
 'Egypt': 345.87}

In [218]:
i = 0
for k, v in gdps.items():
    if v >= 100:
        i += 1
i

72

In [219]:
# Step 1: region_to_country 데이터를 DataFrame으로 변환
region_list = []
for region, countries in region.items():
    for country in countries:
        region_list.append({"Region": region, "Country": country})
region_df = pd.DataFrame(region_list)
# Step 2: country_to_gdp 딕셔너리를 DataFrame으로 변환
gdp_df = pd.DataFrame(list(gdps.items()), columns=["Country", "GDP"])

# Step 3: 두 DataFrame 병합 (Country를 기준으로)
merged_df = pd.merge(region_df, gdp_df, on="Country", how="inner")

# Step 4: 정리된 결과 출력
print(merged_df)

# 추가: Region 별 국가 및 GDP 보기
grouped = merged_df.groupby("Region")[["Country", "GDP"]].apply(lambda x: x.values.tolist())
grouped

            Region       Country     GDP
0           Africa       Algeria  264.27
1           Africa        Angola  118.41
2           Africa         Benin   23.07
3           Africa      Botswana   22.11
4           Africa  Burkina Faso   23.56
..             ...           ...     ...
341  South America      Colombia  419.33
342  South America       Ecuador  125.66
343  South America      Paraguay   46.80
344  South America          Peru  294.90
345  South America       Uruguay   86.42

[346 rows x 3 columns]

Region
Africa                           [[Algeria, 264.27], [Angola, 118.41], [Benin, ...
Asia and Pacific                 [[Armenia, 26.58], [Australia, 1881.14], [Azer...
Australia and New Zealand            [[Australia, 1881.14], [New Zealand, 262.92]]
Caribbean                        [[Antigua and Barbuda, 2.44], [Aruba, 4.45], [...
Central America                  [[Costa Rica, 100.67], [Dominican Republic, 13...
Central Asia and the Caucasus    [[Armenia, 26.58], [Azerbaijan, 77.04], [Georg...
East Asia                        [[China, People's Republic of, 19534.89], [Hon...
Eastern Europe                   [[Albania, 27.99], [Belarus, 76.87], [Bosnia a...
Europe                           [[Albania, 27.99], [Andorra, 4.07], [Austria, ...
Middle East                      [[Bahrain, 49.53], [Iraq, 270.87], [Israel, 55...
North Africa                     [[Algeria, 264.27], [Egypt, 345.87], [Libya, 4...
North America                    [[Canada, 2330.31], [Mexico, 1817.82], [United...
Pacific Islands                  [[Fiji, 6.08], [Kiribati, 0.33], [Marshall Isl...
South America                    [[Argentina, 574.2], [Bolivia, 51.3], [Brazil,...
South Asia                       [[Bangladesh, 481.86], [Bhutan, 3.52], [India,...
Southeast Asia                   [[Brunei Darussalam, 16.68], [Cambodia, 51.16]...
Sub-Saharan Africa               [[Angola, 118.41], [Benin, 23.07], [Botswana, ...
Western Europe                   [[Andorra, 4.07], [Austria, 559.22], [Belgium,...
Western Hemisphere               [[Antigua and Barbuda, 2.44], [Argentina, 574....
dtype: object

In [220]:
merged_df.GDP = merged_df.GDP.astype(int)
top_5_by_region = (
    merged_df.sort_values(by=['Region', 'GDP'], ascending=[True, False])
    .groupby('Region')
    .head(5)
)
region_avg_gdp = top_5_by_region.groupby("Region")["GDP"].mean().reset_index().apply(lambda x: round(x, 2))
region_avg_gdp.columns = ["Region", "@5_GDP_Avg"]

In [221]:
region_avg_gdp

                           Region  @5_GDP_Avg
0                          Africa      277.80
1                Asia and Pacific     6404.40
2       Australia and New Zealand     1071.50
3                       Caribbean       67.40
4                 Central America       96.80
5   Central Asia and the Caucasus      127.20
6                       East Asia     5421.20
7                  Eastern Europe      824.20
8                          Europe     3317.60
9                     Middle East      550.00
10                   North Africa      175.80
11                  North America    11494.67
12                Pacific Islands        8.20
13                  South America      791.20
14                     South Asia      961.80
15                 Southeast Asia      722.20
16             Sub-Saharan Africa      193.20
17                 Western Europe     3244.00
18             Western Hemisphere     7473.00

In [222]:
conn.execute("DROP TABLE Region_Category")
try:
    with sqlite3.connect('World_Economies.db') as conn:
        print(f"Opened SQLite database with version {sqlite3.sqlite_version} successfully.")

except sqlite3.OperationalError as e:
    print("Failed to open database:", e)
    
region_df.to_sql('Region_Category', conn)
region_df

Opened SQLite database with version 3.39.5 successfully.

            Region                    Country
0           Africa                    Algeria
1           Africa                     Angola
2           Africa                      Benin
3           Africa                   Botswana
4           Africa               Burkina Faso
..             ...                        ...
452  South America              French Guiana
453  South America                   Paraguay
454  South America                       Peru
455  South America                    Uruguay
456  South America  Venezuela, Rep. Boliv. de

[457 rows x 2 columns]

In [193]:
asdf = '\xa0\xa0ABC\xa0D' 
text = re.sub(r'\xa0\xa0', '', asdf) 
text = re.sub(r'\xa0', ' ', text) 
text

'ABC D'

In [16]:
datetime.datetime.strptime("2025-January-09-16-30-04", "%Y-%B-%d-%H-%M-%S")

datetime.datetime(2025, 1, 9, 16, 30, 4)

In [17]:
'2000'.split('-')

['2000']

In [21]:
import requests
from bs4 import BeautifulSoup# 크롤링
import pandas as pd # 데이터 처리
import json # to json file
import datetime # logging
import sqlite3 # DB
import re
import datetime
import logging
from functools import wraps
from itertools import islice
import os
from io import StringIO

# logger setting
current_dir = os.path.dirname(os.path.abspath('M3.ipynb'))

log_file = 'etl_project_log.txt'
log_file_path = os.path.join(current_dir, log_file)

raw_json = 'Countries_by_GDP.json'
raw_json_file_path = os.path.join(current_dir, raw_json)

db_name = 'World_Economies.db'
db_path = os.path.join(current_dir, db_name)

logger = logging.getLogger()

#========================================================================================

def is_within_5_months(past_year:int, past_month:int, latest_year:int, latest_month:int):
    '''연도와 월을 기준으로 총 차이가 5개월 이내인지 계산'''
    total_months_past = past_year * 12 + past_month
    total_months_latest = latest_year * 12 + latest_month
    
    return (total_months_latest - total_months_past) <= 5

#========================================================================================

def get_latest_log_with_pandas(file_path:str, seeker:int = -1):
    """
    Pandas를 사용해 로그 파일의 마지막 로그를 가져옵니다.
    로그 파일의 크기가 작다면 이쪽이 더 효율적입니다.
    로그는 '년도, 작업_성공_여부, 작업' 형태로 구조화되어 있어야 합니다.
    
    Args:
        file_path (str): 로그 파일 경로 (CSV 형식).
        seeker (int): 읽을 로그 인덱스
    Returns:
        str: "년도 (int), 작업_성공_여부 (str), 작업 (str)"
        int: 읽어온 로그의 직전 로그 인덱스
    """
    # 파일이 비어 있는지 확인
    with open(file_path, 'r') as file:
        file.seek(0, os.SEEK_END)
        isempty = file.tell() == 0
        file.seek(0)    # 파일 되감기
        if isempty: 
            return '', 0
        
    
    # 로그 파일을 Pandas DataFrame으로 읽기
    df = pd.read_csv(file_path, header=None, names=['year', 'status', 'task'])
    
    # 마지막 로그 가져오기
    # 로그가 불완전할 경우 끝까지 읽다 터지는 것 방지
    try:
        last_log = df.iloc[seeker]
    except IndexError as e:
        print("마지막 로그까지 읽었습니다. 잘못된 로그가 있을 가능성이 높습니다.")
        return '', 0 # <-- 로그가 잘못되었으니 일단 데이터를 새로 갱신 시도
    
    return ",".join([last_log['year'], last_log['status'], last_log['task']]), seeker-1

#========================================================================================

def get_latest_log(file_path, start_position=None): 
    """
    가장 최근 기록된 로그를 가져오거나, 주어진 시작 위치에서 이전 로그를 탐색합니다.

    Args:
        file_path (str): 로그 파일 경로.
        start_position (int, optional): 탐색을 시작할 파일 포인터 위치. 기본값은 None(파일 끝).

    Returns:
        tuple: (buffer (str): 가장 최근 로그, file_position (int): 현재 파일 포인터 위치)
    """
    with open(file_path, 'rb') as file:
        # 파일 끝에서부터 탐색 시작
        if start_position is None:
            file.seek(0, 2)  # 파일 끝으로 이동
            file_position = file.tell()
        else:
            file.seek(start_position)
            file_position = start_position

        if file_position == 0:  # 파일이 비어 있거나 시작 위치가 파일 시작이라면
            return '', 0

        buffer = bytearray()
        while file_position > 0:
            file_position -= 1
            file.seek(file_position)
            byte = file.read(1)

            if byte == b'\n':  # 줄바꿈 문자를 만남
                if buffer:  # 버퍼에 내용이 있다면 최신 로그 반환
                    return buffer[::-1].decode('utf-8'), file_position
            else:
                buffer.append(byte[0])

        # 파일이 줄바꿈 없이 단일 라인인 경우
        if buffer:
            return buffer[::-1].decode('utf-8'), file_position

    return '', 0  # 비어 있는 파일

#========================================================================================
      
def is_DB_Latest(log: str):
    '''
    ### !! IMF는 4, 10월에 데이터를 갱신 !!
    로그 기반으로 데이터 최신화 필요성을 검증합니다.
    마지막 데이터 저장 이후 5개월 초과 | 마지막 로그에 문제가 있었을 경우 False를 반환합니다.
    Args: log: str
    return: bool
    '''
    
    if len(log) == 0: return False
    now = datetime.datetime.now().strftime("%Y-%m")
    now_Y, now_m = map(int, now.split('-')[:2])
    
    log_year, log_month = log.split('-')[:2]
    log_year = int(log_year)
    log_month = int(datetime.datetime.strptime(log_month, '%B').month)

    return is_within_5_months(log_year, log_month, now_Y, now_m)

#========================================================================================

def check_columns_exist(db_path:str, columns_to_check:str, table_name:str ='Gdp_past'):
    # 데이터베이스 연결
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    
    # PRAGMA table_info()로 컬럼 정보 가져오기
    try:
        cursor.execute(f"PRAGMA table_info({table_name})")
        table_info = cursor.fetchall()
    except:
        print("Data NOT Exists")
        return False
    
    # 컬럼 이름만 추출
    column_names = [column[1] for column in table_info]  # column[1]은 컬럼 이름
    
    # 확인하려는 컬럼이 존재하는지 검사
    result = columns_to_check in column_names
    
    # 연결 종료
    conn.close()
    
    return result

# # 사용 예시
# db_path = "example.db"  # SQLite 데이터베이스 파일 경로
# table_name = "my_table"  # 확인하려는 테이블 이름
# columns_to_check = ['yyyy', 'yyyy-1']  # 확인하려는 컬럼 이름들

# result = check_columns_exist(db_path, table_name, columns_to_check)
# print(result) >>> {'yyyy': True, 'yyyy-1': False}

#========================================================================================
  
def url_validation_check(url:str):
    '''
    URL 유효성 검증 함수
    Args: url: str
    return: html text
    '''
    response = requests.get(url)

    if response.status_code == 200:
        return response.text
    else:
        print(response.status_code)  
        return False      

#========================================================================================

def flatten(arr:list):
    '''
    중첩 리스트 평탄화 함수
    Args: arr: list
    return: list
    '''
    return[
        item
        for sublist in arr for item in (flatten(sublist) 
        if isinstance(sublist, list)else [sublist])
    ]

#========================================================================================

class Extract:
    WIKI_URL = ''
    IMF_URL = ''
    now_year = int(datetime.datetime.now().strftime('%Y'))
    def __init__(self):
        self.WIKI_URL = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29'
        self.IMF_URL = 'https://www.imf.org/external/datamapper/api/v1/NGDPD'
    
    def data_from_IMF(self, year = now_year):
        '''
        현재 년도의 IMF의 API를 이용하여 데이터를 추출합니다.
        
        Args: 
            year: int (현재년도)
        
        Returns:
            gdps (pd.DataFrame {country | GDP})
        '''
        year = year
        nameURL = 'https://www.imf.org/external/datamapper/api/v1/countries'
        gdpURL = f'https://www.imf.org/external/datamapper/api/v1/NGDPD?periods={year}'

        response = requests.get(nameURL)
        names = response.text
        namedict = json.loads(names)['countries'] # 국가 코드 : 국가명 딕셔너리
        # 여기까지 2초 ~ 3초

        rspn = requests.get(gdpURL)
        gdptext = rspn.text
        gdpdict = json.loads(gdptext)['values']['NGDPD']
        # 여기까지 3초 ~ 5초

        gdps = {}
        for k, v in gdpdict.items():
            if k in namedict.keys(): # gdpdict에는 국가 이외의 대륙 분류 등이 섞여있음
                # if year in v.keys():
                gdps[namedict[k]['label']] = round(v[year], 2)
                # else:
                    # gdps[namedict[k]['label']] = -1
        print(gdps)
        gdps = pd.DataFrame({'Country': list(gdps.keys()), 'GDP_USD_bilion': list(gdps.values())})
        return gdps
    
    def save_json(self, url: str):
        '''
        웹 상의 테이블 데이터 '원본'을 JSON 형식으로 저장합니다.
        
        Args: 
            url (str)
        '''
        # 첫 번째 테이블을 가져옵니다 (여러 테이블이 있을 수 있으므로 인덱스로 선택)
        df = pd.read_html(StringIO(url), attrs={"class": "wikitable"})[0]
         
        # MultiIndex 생성
        columns = [
            ["Country"] + ["IMF"] * 2 + ["WB"] * 2 + ["UN"] * 2,
            [   ""    ] + ["Forecast", "Year"] * 3  # 하위 컬럼: Forecast와 Year 반복
        ]

        # MultiIndex로 설정
        df.columns = pd.MultiIndex.from_arrays(columns)
                        
        try:
            df.to_json(raw_json_file_path, force_ascii=False, indent=4)
        except Exception as e:
            print("Error Occured While Saving Raw Data:", e)

#========================================================================================

class Transform:
    '''
    수정 완료 사항:
    타 클래스 의존성을 배제하여 원본 데이터 json 파일만 있다면 단독으로 동작 가능합니다.
    '''
    country = []
    gdp = []
    
    def __init__(self,):
        self.country = []
        self.gdp = []
        
    def refine_data(self, ):
        '''
        데이터를 정제합니다.
        링크를 지우고 문자열로 된 숫자를 정수로 변환합니다.
        '-'로 표기된 데이터는 None 을 기입합니다.
        
        Returns: 
            country (list)
            gdp (list)
        '''
        og_data = pd.read_json(raw_json_file_path)
        columns = [
            ["Country"] + ["IMF"] * 2 + ["WB"] * 2 + ["UN"] * 2,
            [""] + ["Forecast", "Year"] * 3  # 하위 컬럼: Forecast와 Year 반복
        ]
        og_data.columns = pd.MultiIndex.from_arrays(columns)     
        
        country = []
        gdp = []
        # year = []
        
        # to refine messy texts like link ... etc
        no_juseok = lambda s: re.sub(r'\[.*?\]', '', s)
        str_to_num = lambda s: int(re.sub(r',', '', s))
        
        for i, d in islice(enumerate(zip(og_data['Country'], og_data['IMF']['Forecast'])), 1, None):
            ctry, forecast = d[0], d[1]
            if ctry == None or forecast == None: 
                print(f"Data Error in line {i}")
                
            country.append(no_juseok(ctry))
            
            if forecast == '—':  # 결측치 처리
                gdp.append(None) # NULL value
            else: 
                gdp.append(str_to_num(no_juseok(forecast)))
        
        self.country = country 
        self.gdp = gdp
        
    def make_DataFrame(self, country:list, gdp:list):
        '''
        가공된 데이터로 데이터프레임을 생성합니다.
        GDP에 대해 내림차순 정렬되어 있고, 단위는 1B USD, 소수점 두자리까지 출력됩니다.
        
        Args: 
        country (list[str])
        gdp (list[int | None])
        
        Returns 
            GDP_data (pd.DataFrame)
        '''
        country = self.country
        gdp = self.gdp
        GDP_data = pd.DataFrame({'Country':country, 'GDP_USD_bilion':gdp})
        
        # GDP 내림차순 정렬
        GDP_data.sort_values(by=('GDP_USD_bilion'), ascending=False, inplace=True)
        
        # 소수점 둘째자리까지 보이기   
        GDP_data['GDP_USD_bilion'] = GDP_data['GDP_USD_bilion'].apply(lambda x: round(x / 1000, 2))
        
        return GDP_data      

#========================================================================================

class Load:
    frame = None
    conn = None
    request_year = ''
    log = ''
    def __init__(self, frame:pd.DataFrame, conn:sqlite3.Connection, request_old_data:str = '', log:str = ''):
        '''
        데이터프레임을 저장하기 위해 가공된 데이터프레임을 불러옵니다.
        Args: 
            frame (pd.DataFrame)
            conn (sqlite3.Connection)
            rq_date (str)
            log (str)
        '''
        self.frame = frame    
        self.conn = conn    
        self.request_year = request_old_data
        self.log = log
    #========================================================================================

    def save_GDP_to_DB(self,):
        '''
        데이터프레임을 DB에 저장합니다.
        '''
        # 먼저 오래된 데이터 따로 빼기
        
        
        try:
            self.frame = self.frame.sort_values(by='Country')
            self.frame.to_sql('Countries_by_GDP', self.conn, if_exists='replace')
        except Exception as e:
            print("Something Wrong With Saving Data to DB: ", e)
        
        self.conn.commit()
        
    #====================================================================================
    
    def latest_data_backup(self, conn:sqlite3.Connection):
        '''
        DB 갱신 시 현 최신 데이터를 과거 데이터 테이블로 백업합니다.
        백업된 데이터는 Past_Data table에 
        Country | Year-2 | Year-1 | ... 형식으로 저장됩니다. 
        (1,2는 상/하반기)
        Args: 
            conn (sqlite3.Connection)
        '''
        saved_date = self.log
        cursor = conn.cursor()
        
        # 4 / 10월 데이터 판단
        saved_date = datetime.datetime.strptime(saved_date, "%Y-%B-%d-%H-%M-%S")
        saved_y = saved_date.year
        saved_m = saved_date.month
        
        if saved_m <= 4:          
            saved_y -= 1
            saved_m = 2 # past year 11 ~ now 4
        elif 4 < saved_m <= 10:
            saved_m = 1 # now 5 ~ 10
        else:
            saved_m = 2 # now 11 ~ 12
                
        
        # 'gdp_past' 테이블이 없는 경우 생성
        cursor.execute(f"""
        CREATE TABLE IF NOT EXISTS Gdp_past (
            Country TEXT PRIMARY KEY
        )
        """)

        # 'gdp_past' 테이블에 현재 날짜 컬럼 추가 (없는 경우)
        alter_query = f"ALTER TABLE Gdp_past ADD COLUMN GDP_{saved_y}_{saved_m} REAL"
        try:
            cursor.execute(alter_query)
        except sqlite3.OperationalError:
            # 컬럼이 이미 존재할 경우 예외를 무시
            pass

        # wiki데이터가 null인 국가를 imf api로 저장한 과거데이터에 넣을 시 대처법 생각하기
        # 'gdp_now'에만 있는 country를 'gdp_past'에 NULL 값으로 추가
        cursor.execute("""
        INSERT INTO Gdp_past (Country)
        SELECT Country
        FROM Countries_by_GDP
        WHERE Country NOT IN (SELECT Country FROM Gdp_past)
        """)
        
        # 'gdp_now' 데이터를 'gdp_past'에 삽입 (horizontal 저장)
        cursor.execute(f"""
        INSERT INTO Gdp_past (Country, GDP_{saved_y}_{saved_m})
        SELECT Country, GDP_USD_bilion
        FROM Countries_by_GDP
        ON CONFLICT(Country) DO UPDATE SET GDP_{saved_y}_{saved_m} = excluded.GDP_{saved_y}_{saved_m}
        """)
        
        print(f"{saved_y}_{saved_m} data stored in backup table")

    #====================================================================================
    
    #====================================================================================
    
    def add_past_data(self, conn:sqlite3.Connection):
        cursor = conn.cursor()
        saved_y = self.request_year.split('-')
        
        # 'gdp_past' 테이블이 없는 경우 생성
        cursor.execute(f"""
        CREATE TABLE IF NOT EXISTS Gdp_past (
            Country TEXT PRIMARY KEY
        )
        """)

        # 'gdp_past' 테이블에 현재 날짜 컬럼 추가 (없는 경우)
        alter_query = f"ALTER TABLE Gdp_past ADD COLUMN GDP_{saved_y} REAL"
        try:
            cursor.execute(alter_query)
        except sqlite3.OperationalError:
            # 컬럼이 이미 존재할 경우 예외를 무시
            pass

        # wiki데이터가 null인 국가를 imf api로 저장한 과거데이터에 넣을 시 대처법 생각하기
        # 'gdp_now'에만 있는 country를 'gdp_past'에 NULL 값으로 추가
        cursor.execute("""
        INSERT INTO Gdp_past (Country)
        SELECT Country
        FROM Countries_by_GDP
        WHERE Country NOT IN (SELECT Country FROM Gdp_past)
        """)
                
        # 백업용 데이터베이스 테이블에서 'Country' 컬럼 가져오기
        db_table = 'Gdp_past'
        db_data = pd.read_sql_query(f"SELECT * FROM {db_table} ORDER BY Country ASC", conn)

        # 데이터프레임 가져오기
        df = self.frame

        
        print(df)
        
        # 데이터프레임과 데이터베이스 매칭
        db_data = db_data.merge(df, on='Country', how='left') # 없는 값들은 NULL로 채움

        # 데이터베이스 테이블 업데이트
        for _, row in db_data.iterrows():
            cursor.execute(f"""
                UPDATE {db_table}
                SET GDP_{saved_y} = ?
                WHERE Country = ?
            """, (row['GDP_USD_bilion'], row['Country']))
    
    #====================================================================================
        
    def save_Region_to_DB(self, region_data:dict):
        '''
        Region data를 DB에 'Region_Category' 테이블로 저장합니다.
        Args: 
            region_data (dict)
        '''
        region_list = []
        for region, countries in region_data.items():
            for country in countries:
                region_list.append({"Region": region, "Country": country})
        region_df = pd.DataFrame(region_list)  
              
        # try:
        #     with sqlite3.connect(db_path) as conn:
        #         print(f"Opened SQLite database with version {sqlite3.sqlite_version} successfully.")

        # except sqlite3.OperationalError as e:
        #     print("Failed to open database:", e)
            
        region_df.to_sql('Region_Category', self.conn, if_exists='replace')  
        self.conn.commit()     

#========================================================================================
         
def region_categorize(html: str):
    '''
    Region : [소속 국가] 형식의 딕셔너리를 반환합니다.
    Args: 
        html (str)
    Returns: 
        region (dict)
    '''
    soup = BeautifulSoup(html, 'html.parser')
    table = soup.select('div.fancy > table > tr')

    category = [[td.get_text(strip=False) for td in tr.find_all('th')] for tr in table]
    for i in range(len(category) - 1, -1, -1):  # 인덱스를 뒤에서부터 순회
        if not category[i]: del category[i] # 리스트가 비어있으면 제거
        
    nara = [[td.get_text(strip=False) for td in tr.find_all('p')] for tr in table]
    for i in range(len(nara) - 1, -1, -1):  # 인덱스를 뒤에서부터 순회
        if not nara[i]: del nara[i] # 리스트가 비어있으면 제거
        
    region_arr = []
    for c in category:
        if len(c) == 0: continue
        region_arr.append(re.sub(r'[\r\n\xa0]', '', c[0]))
        
    for i, line in enumerate(nara):
        tmp = []
        for subline in line:
            tmp.append(subline.split('\n'))
        tmp = flatten(tmp)
        
        for j in range(len(tmp)-1, -1, -1):
            text = tmp[j]
            text = re.sub(r'\r', '', text)
            # '\xa0\xa0'은 ''으로 대체하고, '\xa0' 한 개는 ' '으로 대체
            # '\xa0\xa0' 앞뒤로 문자가 붙어있으면 공백으로 대체
            text = re.sub(r'(?<=[A-Za-z])\xa0\xa0(?=[A-Za-z])', ' ', text)            
            text = re.sub(r'(?<=[A-Za-z])\.(?=[A-Za-z])', ' ', text)
            text = re.sub(r'\xa0\xa0', '', text) 
            text = re.sub(r'\xa0', ' ', text) 
            tmp[j] = text.strip()    
            
            if text == '':
                del tmp[j]
                continue
        nara[i] = tmp
        
    region = {}
    for k, v in zip(region_arr, nara):
        region[k] = v
    
    return region        

#========================================================================================

def visualze_GDP_DESC_Over_100(gdp_data: dict):
    '''
    SQL을 사용하지 않고 GDP >= 100B USD인 데이터프레임을 출력합니다.
    Args: 
        gdp_data (dict)
    '''
    df = pd.DataFrame(gdp_data)
    df.sort_values('GDP_USD_bilion', ascending=False, inplace=True)
    df = df[df['GDP_USD_bilion'] >= 100]
    df['GDP_USD_bilion'] = df['GDP_USD_bilion'].apply(lambda x: round(x / 1000, 2))
    
    print(df)

#========================================================================================
    
def visualize_avg_GDP_by_Region(gdp_data:dict):
    '''
    SQL을 사용하지 않고 Region 별 상위 5개 국가의 평균 GDP를 기록한 데이터프레임을 출력합니다.
    Args: 
        region (dict) 
        gdp_data (dict)
    '''
    region = region_categorize(url_validation_check('https://www.imf.org/external/datamapper/region.htm#sea'))

    # Step 1: region_to_country 데이터를 DataFrame으로 변환
    region_list = []
    for region, countries in region.items():
        for country in countries:
            region_list.append({"Region": region, "Country": country})
    region_df = pd.DataFrame(region_list)

     # Step 2: country_to_gdp 딕셔너리를 DataFrame으로 변환
    gdp_df = pd.DataFrame(gdp_data)
    # TODO --> None 값 -1로 수정해야 아래 코드가 돌아감
    gdp_df['GDP_USD_bilion'] = gdp_df['GDP_USD_bilion'].fillna(0)

    # Step 3: 두 DataFrame 병합 (Country를 기준으로)
    merged_df = pd.merge(region_df, gdp_df, on="Country", how="inner")

    
    # Step 4: Region 별로 그룹화
    merged_df.GDP_USD_bilion = merged_df.GDP_USD_bilion.astype(float)
    top_5_by_region = (
        merged_df.sort_values(by=['Region', 'GDP_USD_bilion'], ascending=[True, False])
        .groupby('Region')
        .head(5)
    )
    
    # Step 5: Region 별 상위 5개 GDP 평균 구하기
    region_avg_gdp = top_5_by_region.groupby("Region")["GDP_USD_bilion"].mean().reset_index().apply(lambda x: round(x, 2))
    region_avg_gdp.columns = ["Region", "@5_GDP_Avg"]
    
    print(region_avg_gdp)

#========================================================================================

def logging_time(func):
    '''
    @logging_time을 로깅하고 싶은 함수 윗줄에 작성한다.
    '''    
    @wraps(func)
    def wrapper(*args, **kwargs):
        # start_time = datetime.datetime.now()
        # formatted_start = start_time.strftime("%Y-%B-%d-%H-%M-%S")

        logging.info(f"Started, {func.__name__}")
        
        result = func(*args, **kwargs)
        
        # end_time = datetime.datetime.now()
        # formatted_end = end_time.strftime("%Y-%B-%d-%H-%M-%S")

        logging.info(f"Finished, {func.__name__}")
        # logging.info(f"Execution time for '{func.__name__}': {end_time - start_time}")
        return result
    return wrapper

#========================================================================================

def visualize_with_SQL(connection:sqlite3.Connection):
    '''
    GDP 100B USD 이상인 국가들의 내림차순 정렬된 DataFrame과
    Region 별 상위 5개 국가의 GDP 평균을 담은 DataFrame을 반환합니다.
    Args:
        connection (sqlite3.Connection)
    Returns: 
        df_gdp (pd.DataFrame)
        df_region (pd.DataFrame)
    '''
    conn = connection
    # try:
    #     with sqlite3.connect(db_path) as conn:
    #         print(f"Opened SQLite database with version {sqlite3.sqlite_version} successfully.")
    #         cursor = conn.cursor()
    # except sqlite3.OperationalError as e:
    #     print("Failed to open database:", e)

    sql_region = '''
    WITH RankedCountries AS (
        SELECT 
            Countries_by_GDP.Country,
            Countries_by_GDP.GDP_USD_bilion,
            B.Region,
            ROW_NUMBER() OVER (PARTITION BY B.Region ORDER BY GDP_USD_bilion DESC) AS Rank
        FROM 
            Countries_by_GDP
        INNER JOIN 
            Region_Category AS B
        ON 
            Countries_by_GDP.Country = B.Country
    )
    SELECT 
        Region,
        ROUND(AVG(GDP_USD_bilion), 2) AS Avg_GDP
    FROM 
        RankedCountries
    WHERE 
        Rank <= 5
    GROUP BY 
        Region;
    '''
    df_region = pd.read_sql_query(sql_region, conn)

    sql_gdp = '''
    SELECT Country, GDP_USD_bilion 
    FROM Countries_by_GDP
    WHERE GDP_USD_bilion > 100
    ORDER BY GDP_USD_bilion DESC
    '''

    df_gdp = pd.read_sql_query(sql_gdp, conn)
    
    print(f"{'GDP Over 100B USD':-^34}")
    print()
    print(df_gdp)
    print()
    print(f"{'Average GDP of Each Region':-^44}")
    print()
    print(df_region)

#========================================================================================

class Executer:
    conn = None
    old_data_request = ''
    REFINED_DATA = None
    old_data = None
    
    def __init__(self, conn:sqlite3.Connection, old_data_request:str = ''):
        self.conn = conn
        self.old_data_request = old_data_request
        self.REFINED_DATA = None
        self.old_data = None
        
    #====================================================================================        
    
    @logging_time
    def do_Extract(self,):
        if self.old_data_request: # db에 없는 데이터를 요청 시
            print(f"Fetching {self.old_data_request.split('-')[0]} Data From IMF API ...")
            E = Extract()
            # API로 받은 데이터는 정제된 정제된 데이터 형식과 일치하므로 바로 Load로 보낸다.
            self.old_data = E.data_from_IMF(self.old_data_request.split('-')[0])

        else:
            E = Extract() 
            wiki_html = url_validation_check(E.WIKI_URL) # 웹 페이지 추출
            # self.wiki_data = E.collect_data(wiki_html) # 데이터 수집
            E.save_json(wiki_html) # JSON 저장
        
    #====================================================================================
    
    @logging_time
    def do_Transform(self, ):
        
        T = Transform()
        T.refine_data()
        self.REFINED_DATA = T.make_DataFrame(T.country, T.gdp) # 데이터 정제 후 데이터프레임 반환
        
    #====================================================================================    
    
    @logging_time 
    def do_Load(self, latest_log:str = ''):
        # dataframe = REFINED_DATA
        latest_log = latest_log
        c = self.conn.cursor()
        tables = c.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
            
        L = Load(self.REFINED_DATA, self.conn, latest_log)
        
        if 'Region_Category' not in tables:
            url = 'https://www.imf.org/external/datamapper/region.htm#sea'
            L.save_Region_to_DB(region_categorize(url_validation_check(url)))
        
        if not self.old_data_request:
        # 1. 최신 데이터를 백업하는 상황
            L.latest_data_backup(conn=self.conn)
            L.save_GDP_to_DB()
        
        else:
        # 2. 과거 데이터를 추가하는 상황
            L = Load(self.REFINED_DATA, self.conn, self.old_data_request)
            L.frame = self.old_data
            
            L.add_past_data(self.conn)
        
#========================================================================================
'''
TODO: 
    : 갱신 시 오래된 데이터 따로 빼기
'''
if __name__ == "__main__":
    
    pattern = r'^\d{4}(-[1-2])?$'
    while True: # 과거 데이터 출력 여부
        print("최신 데이터를 원하시면 엔터를,")
        print("과거 데이터를 원하시면 해당 년도(1980 ~ )와 상/하반기 구분을 입력하세요 yyyy-1 | yyyy-2")
        print("해당 년도의 데이터가 1건 뿐인 경우 그것을 출력합니다.")
        needs = input("입력: ")
        if needs == '' or bool(re.match(pattern, needs)):
            break
    
    if not logger.handlers:
        # 사용자 정의 Formatter
        formatter = logging.Formatter(
            fmt='%(asctime)s, %(message)s',
            datefmt='%Y-%B-%d-%H-%M-%S'  # 원하는 날짜 포맷
        )

        # 핸들러 생성 및 설정
        handler = logging.FileHandler(log_file_path)
        handler.setFormatter(formatter)

        # 로거 설정
        logger.setLevel(logging.INFO)
        logger.addHandler(handler)
    
    buffer, fp = get_latest_log_with_pandas(log_file_path)

    while True: # 가장 마지막으로 수행 완료된 Load 프로세스 로그 탐색
        if not buffer:  # 로그가 비어 있으면 종료
            # print("로그 끝에 도달했지만 조건에 맞는 항목을 찾지 못했습니다.")
            break

        # 최신 로그에서 `마지막으로 수행된 프로세스`와 `프로세스 완료 여부` 추출
        try:
            completion, process = buffer.split(', ')[-2:]  # 로그가 예상 형식일 경우
        except ValueError:
            print(f"잘못된 로그 형식: {buffer}")
            break

        # 조건 충족 시 종료
        if completion == 'Finished' and process == 'do_Load':
            # print(f"조건을 충족하는 로그 발견: {buffer}")
            break

        # 이전 로그 탐색
        buffer, fp = get_latest_log_with_pandas(log_file_path, seeker=fp)
        
    try:    # check DB Connection
        print("Connect DB ...")
        
        with sqlite3.connect('World_Economies.db') as conn:
            print(f"Opened SQLite database with version {sqlite3.sqlite_version} successfully.")
            c = conn.cursor()

    except sqlite3.OperationalError as e:
        print("Failed to open database:", e) 
          
    # 과거 데이터 요청 시
    if needs != '':
        # DB에 있는지 먼저 확인
        print("Checking Past Data ...")
        
        # 없다면?
        if not check_columns_exist(db_path, needs, ): 
            print("Fetching Past Data ...")
            runner = Executer(conn=conn, old_data_request=needs)
            runner.do_Extract()
            runner.do_Load()
            #  시각화
        
        # 있다면
        # 시각화
        
              
    # 최신 데이터 요청 시          
        # 오래된 데이터 -> 갱신 필요  
    elif needs == '' and not is_DB_Latest(buffer):  
        print("DB is outdated: Start Update ...")

        runner = Executer(conn = None) # Load process 전 까진 DB 연결할 일이 없다.
        runner.do_Extract()
        # print("Extracted")
        runner.do_Transform()
        # print("Transformed")
        
        runner.conn = conn
        runner.do_Load(buffer) # back-up & update
        # print("Loaded")
        
        visualize_with_SQL(conn)
        
        conn.commit()
        conn.close()
        
        # 최신 데이터 -> 갱신 과정 없이 데이터 제공
    else: 
        print("You're looking latest DB")

        visualize_with_SQL(conn)

최신 데이터를 원하시면 엔터를,
과거 데이터를 원하시면 해당 년도(1980 ~ )와 상/하반기 구분을 입력하세요 yyyy-1 | yyyy-2
해당 년도의 데이터가 1건 뿐인 경우 그것을 출력합니다.
마지막 로그까지 읽었습니다. 잘못된 로그가 있을 가능성이 높습니다.
Connect DB ...
Opened SQLite database with version 3.39.5 successfully.
Checking Past Data ...
Fetching Past Data ...
Fetching 2002 Data From IMF API ...
{'Sudan': 18.14, 'El Salvador': 12.66, 'Estonia': 7.39, 'Eswatini': 1.44, 'Fiji': 2.0, 'Finland': 140.26, 'Gabon': 5.33, 'Georgia': 3.49, 'Greece': 154.46, 'Guinea': 4.02, 'Haiti': 6.06, 'Honduras': 7.78, 'Hungary': 67.61, 'Iceland': 9.32, 'Bulgaria': 16.4, 'Burkina Faso': 3.62, 'Cambodia': 4.51, 'Central African Republic': 0.98, "China, People's Republic of": 1465.83, 'Colombia': 97.35, 'Congo, Dem. Rep. of the': 8.72, 'Costa Rica': 16.58, 'Croatia': 26.74, 'Cyprus': 11.42, 'Denmark': 178.79, 'Dominican Republic': 27.25, 'Brunei Darussalam': 6.47, 'Equatorial Guinea': 2.07, 'Eritrea': 0.56, 'Italy': 1280.84, 'Jamaica': 9.72, 'Mexico': 810.67, 'Puerto Rico': 72.55, 'Qatar': 19.33, 'Switzerland': 309.59, 'Syria': 22.76, 'Afghanistan': 4.37, 'Andorra': 1.76, 'Angola': 17.31, 'Argentina': 112.46, 'Armenia': 2.38, 'Australia': 425.48, 'Austria': 214.24, 'Bangladesh': 65.04, 'Belgium': 258.2, 'Bhutan': 0.52, 'Bolivia': 7.92, 'Botswana': 5.39, 'Brazil': 509.8, 'Tunisia': 24.27, 'Türkiye, Republic of': 238.15, 'Uganda': 8.43, 'United Kingdom': 1788.55, 'Uzbekistan': 12.11, 'Vietnam': 44.56, 'West Bank and Gaza': 3.56, 'Zambia': 4.19, 'Zimbabwe': 10.73, 'Tajikistan': 1.21, 'Tanzania': 13.12, 'Gambia, The': 0.89, 'Trinidad and Tobago': 9.15, 'Turkmenistan': 14.88, 'Tuvalu': 0.02, 'Ukraine': 42.34, 'United Arab Emirates': 109.82, 'United States': 10929.1, 'Uruguay': 14.86, 'Vanuatu': 0.26, 'Venezuela': 95.26, 'Yemen': 10.69, 'Slovak Republic': 24.89, 'South Africa': 129.38, 'Spain': 708.44, 'Sri Lanka': 20.24, 'Saint Lucia': 0.9, 'Saint Vincent and the Grenadines': 0.49, 'Sweden': 267.37, 'Taiwan Province of China': 307.44, 'Thailand': 134.3, 'Bahamas, The': 8.88, 'Togo': 2.3, 'Tonga': 0.18, 'Russian Federation': 370.06, 'San Marino': 1.15, 'Senegal': 7.0, 'Serbia': 17.18, 'Sierra Leone': 1.99, 'Singapore': 92.54, 'Slovenia': 23.26, 'Solomon Islands': 0.35, 'Saint Kitts and Nevis': 0.48, 'Suriname': 1.47, 'Norway': 195.91, 'Oman': 23.07, 'Panama': 13.69, 'Peru': 53.95, 'Portugal': 134.7, 'Congo, Republic of ': 3.33, 'Romania': 46.03, 'Rwanda': 1.96, 'Samoa': 0.29, 'São Tomé and Príncipe': 0.08, 'Saudi Arabia': 189.61, 'Seychelles': 0.7, 'Mongolia': 1.4, 'Montenegro': 1.27, 'Mozambique': 5.95, 'Myanmar': 6.5, 'Nepal': 6.82, 'Nicaragua': 5.22, 'North Macedonia ': 3.99, 'Pakistan': 98.17, 'Palau': 0.16, 'Papua New Guinea': 4.39, 'Paraguay': 7.2, 'Philippines': 84.31, 'Poland': 199.07, 'Malawi': 4.92, 'Mali': 3.9, 'Malta': 4.68, 'Mauritania': 1.78, 'Mauritius': 5.12, 'Micronesia, Fed. States of': 0.24, 'Moldova': 1.66, 'Morocco': 45.71, 'Namibia': 3.4, 'Netherlands': 475.19, 'New Zealand': 62.06, 'Niger': 2.77, 'Nigeria': 93.98, 'Jordan': 9.97, 'Kazakhstan': 24.64, 'Korea, Republic of': 649.75, 'Kyrgyz Republic': 1.61, 'Lebanon': 18.84, 'Libya': 21.13, 'Lithuania': 14.26, 'Macao SAR': 7.37, 'Madagascar': 5.35, 'Malaysia': 109.83, 'Maldives': 0.83, 'Marshall Islands': 0.13, 'Albania': 4.36, 'Algeria': 61.52, 'Antigua and Barbuda': 0.9, 'Aruba': 1.96, 'Azerbaijan': 6.23, 'Bahrain': 10.0, 'Barbados': 3.36, 'Belarus': 15.09, 'Belize': 1.2, 'Benin': 4.19, 'Bosnia and Herzegovina': 6.71, 'Ethiopia': 7.83, 'France': 1491.37, 'Germany': 2100.86, 'Ghana': 14.21, 'Grenada': 0.54, 'Guatemala': 21.92, 'Guinea-Bissau': 0.47, 'Guyana': 1.55, 'Hong Kong SAR': 166.34, 'India': 514.94, 'Iraq': 21.06, 'Ireland': 128.5, 'Indonesia': 212.81, 'Iran': 132.68, 'Israel': 125.34, 'Japan': 4182.85, 'Kenya': 19.03, 'Kiribati': 0.07, 'Kosovo': 2.73, 'Kuwait': 38.13, 'Lao P.D.R.': 1.84, 'Latvia': 9.56, 'Lesotho': 0.86, 'Liberia': 0.94, 'Luxembourg': 23.63, 'Burundi': 0.82, 'Cabo Verde': 0.87, 'Cameroon': 12.37, 'Canada': 760.15, 'Chad': 3.08, 'Chile': 70.3, 'Comoros': 0.43, "Côte d'Ivoire": 17.15, 'Czech Republic': 82.6, 'Timor-Leste': 0.47, 'Djibouti': 0.84, 'Dominica': 0.33, 'Ecuador': 27.05, 'Egypt': 90.26}

DatabaseError: Execution failed on sql 'DROP TABLE "Region_Category"': database is locked

In [31]:
type(str(datetime.datetime.now().strftime("%Y-%B-%d-%H-%M-%S")))

str